.c-post-aside {
  --c-post-aside--gap: var(--ks-spacing-stack-s);

  .c-headline__headline {
    --c-headline--font: var(--ks-font-display-m);
  }

  .c-contact__links .icon {
    color: var(--dsa-link--color);
  }
}
