@use "@kickstartds/core/source/core/container";
@include container.wrapper("section-header");

.c-section-header {
  &--container-mobile {
    --section-header--padding: 0.5em;

    position: absolute !important;
    display: block;
    padding-top: var(--ks-spacing-l);
    height: 100%;
    top: 0;
    z-index: 100;
    pointer-events: none;
    right: 0;
    padding-bottom: 5rem;
  }

  &--container {
    position: sticky;
    top: var(--ks-spacing-s);
    width: 100%;
    z-index: 500;
    padding: 0 var(--l-section--content-padding);
    padding-bottom: var(--ks-spacing-m);
  }

  padding: var(--ks-spacing-inset-squish-m);
  border-radius: var(--ks-border-radius-card);
  background-color: var(--dsa-interface--background);
  box-shadow: var(--dsa-interface--shadow);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  max-width: var(--l-section--content-width-default);
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-l);
  align-items: center;
  flex-wrap: wrap;

  .c-tag-label--primary {
    background-color: var(--ks-background-color-primary);
  }

  &__main {
    flex: 70;
    display: flex;
    align-items: center;
    gap: var(--ks-spacing-stack-xs) var(--ks-spacing-inline-s);

    .l-container {
      container-type: unset;
    }

    .c-tag-label {
      width: fit-content;
    }
  }

  a.c-section-header__link {
    flex: 30;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 0.25em;

    .icon {
      width: 1.25em;
      height: 1.25em;
    }

    &-desktop {
      font: var(--ks-font-interface-m);
      font-weight: var(--ks-font-weight-semi-bold);

      display: none;
      @media (min-width: 48rem) {
        display: flex;
      }
    }

    &-mobile {
      padding: 0.35em;
      border-radius: 4px;
      flex-grow: 0;
      font: var(--ks-font-interface-m);
      font-weight: var(--ks-font-weight-semi-bold);

      display: flex;
      @media (min-width: 48rem) {
        display: none;
      }
    }
  }
}
