# Node
.DS_Store
.env
node_modules

# Storybook
storybook
storybook-static
public/design-tokens.source.json

# Playroom
tmp
snippets.json
components.ts

# kickstartDS
*.dereffed.json
*-tokens.json
src/token/tokens.css
src/token/IconSprite.js
src/token/tokens.js
src/token/icon-sprite.html
src/token/storybook/tokens.css
src/token/storybook/icons.svg
src/token-business/tokens.css
src/token-business/IconSprite.js
src/token-business/tokens.js
src/token-business/icon-sprite.html
src/token-business/storybook/tokens.css
src/token-business/storybook/icons.svg
src/token-google/tokens.css
src/token-google/IconSprite.js
src/token-google/tokens.js
src/token-google/icon-sprite.html
src/token-google/storybook/tokens.css
src/token-google/storybook/icons.svg
src/token-ngo/tokens.css
src/token-ngo/IconSprite.js
src/token-ngo/tokens.js
src/token-ngo/icon-sprite.html
src/token-ngo/storybook/tokens.css
src/token-ngo/storybook/icons.svg

static/*.css
static/*.css.map
dist
__snapshots__
