# Node
.DS_Store
.env
node_modules

# Storybook
storybook
public/design-tokens.source.json

# kickstartDS
*.dereffed.json
*-tokens.json
src/token/tokens.css
src/token/IconSprite.js
src/token/tokens.js
src/token/icon-sprite.html
src/token/storybook/tokens.css
src/token/storybook/icons.svg
static/*.css
static/*.css.map
dist
