@import "./split-tokens.scss";

.l-split {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dsa-split--gap-horizontal) var(--dsa-split--gap-horizontal);

  &--narrow {
    --split__main--flex-basis: var(--l-section--content-width-narrow);
  }

  &--medium {
    --split__main--flex-basis: var(--l-section--content-width-default);
  }

  &--wide {
    --split__main--flex-basis: var(--l-section--content-width-wide);
  }

  @media (min-width: 48em) {
    justify-content: space-between;
  }

  > * {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &--sidebar-right {
    > :first-child {
      flex-basis: calc(var(--split__main--flex-basis) - calc(var(--l-section--content-padding) * 2));
    }

    > :last-child {
      flex-basis: var(--dsa-split__side--flex-basis, 210px);
      position: -webkit-sticky;
      position: sticky;
      top: var(--dsa-split__side--top-offset, var(--ks-spacing-stack-l));
      height: fit-content;
      margin-top: var(--dsa-split__side-top-margin, var(--ks-spacing-stack-l));
    }
  }

  &--sidebar-left {
    > :last-child {
      flex-basis: calc(var(--split__main--flex-basis) - calc(var(--l-section--content-padding) * 2));
    }

    > :first-child {
      flex-basis: var(--dsa-split__side--flex-basis, 210px);
      position: -webkit-sticky;
      position: sticky;
      top: var(--dsa-split__side--top-margin, var(--ks-spacing-stack-l));
      height: fit-content;
      margin-top: var(--dsa-split__side-top-margin, var(--ks-spacing-stack-l));
    }
  }
}
