.c-collapsible-box {
  --c-faq-summary--color: var(--g-headline--color);
  --c-faq-summary--font-weight: var(--g-headline--font-weight);
  --c-faq-summary--font: var(--ks-font-copy-l);

  --c-faq-icon--color: var(--ks-text-color-default);
  --c-faq--border-color: var(--ks-border-color-interface);

  //TBD: Semantic Conventions
  --c-faq_header--padding: 1em 0;
  --c-faq_content--padding: 0em 0em 1em 0em;
}
