.c-collapsible-box {
  --c-collapsible-box-summary--color: var(--g-headline--color);
  --c-collapsible-box-summary--font-weight: var(--g-headline--font-weight);
  --c-collapsible-box-summary--font: var(--ks-font-copy-l);
  --c-collapsible-box-icon--color: var(--ks-color-secondary);
  --c-collapsible-box_header--padding: 1em 0;
  --c-collapsible-box_content--padding: 0em 0em 1em 0em;

  &__header {
    &__text {
      color: var(--c-collapsible-box-summary--color);
      font: var(--c-collapsible-box-summary--font);
      font-weight: var(--c-collapsible-box-summary--font-weight);
      font-family: var(--ks-font-family-display);
    }
    &__icon {
      color: var(--c-collapsible-box-icon--color);
    }
  }
}
