@import "./faq-tokens.scss";

.c-faq {
  .c-collapsible-box {
    --c-collapsible-box-summary--color: var(--c-faq-summary--color);
    --c-collapsible-box-summary--font-weight: var(--c-faq-summary--font-weight);
    --c-collapsible-box-summary--font: var(--c-faq-summary--font);
    --c-collapsible-box-icon--color: var(--c-faq-icon--color);
    --c-collapsible-box_header--padding: var(--c-faq_header--padding);
    --c-collapsible-box_content--padding: var(--c-faq_content--padding);
    --c-collapsible-box--border-color: var(--c-faq--border-color);

    &__header {
      &__text {
        color: var(--c-collapsible-box-summary--color);
        font: var(--c-collapsible-box-summary--font);
        font-weight: var(--c-collapsible-box-summary--font-weight);
        font-family: var(--ks-font-family-display);
      }
      &__icon {
        color: var(--c-collapsible-box-icon--color);
      }
    }
  }
}
