@import "../../selectors";

.dsa-button {
  --dsa-button--border-radius: var(--ks-border-radius-pill);
  --dsa-button--padding: 0.75em 2em;
  --dsa-button--font-weight: var(--ks-font-weight-semi-bold);

  //PRIMARY

  --dsa-button_primary--color: var(--ks-color-fg);
  --dsa-button_primary--color-hover: var(--ks-color-fg);
  --dsa-button_primary--color-active: var(--ks-color-fg);

  //high contrast to Primary & Background Colors
  --dsa-button_primary--background-color: var(--ks-color-primary);
  --dsa-button_primary--background-color-hover: var(--ks-background-color-primary-interactive-hover);

  --dsa-button_primary--shadow: 0;
  --dsa-button_primary--shadow-hover: 0;

  --dsa-button_primary_inverted--color: var(--ks-color-fg-inverted-alpha-2);
  --dsa-button_primary_inverted--color-hover: var(--ks-color-fg-inverted);
  --dsa-button_primary_inverted--color-active: var(--ks-color-fg-inverted);

  //CLEAR

  --dsa-button_secondary--color: var(--ks-color-fg-alpha-2);
  --dsa-button_secondary--color-hover: var(--ks-color-fg);
  --dsa-button_secondary--color-active: var(--ks-color-fg);

  --dsa-button_secondary--border-color: transparent;
  --dsa-button_secondary--border-color-hover: transparent;
  --dsa-button_secondary--border-color-active: transparent;

  --dsa-button_secondary--border-width: 2px;

  --dsa-button_secondary--background-color: var(--ks-color-fg-alpha-8);
  --dsa-button_secondary--background-color-hover: var(--ks-color-fg-alpha-7);
  --dsa-button_secondary--background-color-active: var(--ks-color-fg-alpha-7);

  //OUTLINE
  --dsa-button_terciary--color: var(--ks-color-fg-alpha-2);
  --dsa-button_terciary--color-hover: var(--ks-color-fg);
  --dsa-button_terciary--color-active: var(--ks-color-fg);

  --dsa-button_terciary--border-color: var(--ks-color-fg-alpha-6);
  --dsa-button_terciary--border-color-hover: var(--ks-color-fg);
  --dsa-button_terciary--border-color-active: var(--ks-color-fg);

  --dsa-button_terciary--background-color-hover: transparent;
  --dsa-button_terciary--background-color-active: transparent;
}
