@import "../../selectors";

.dsa-button {
  --dsa-button--border-radius: var(--ks-border-radius-pill);
  --dsa-button--padding: 0.75em 2em;
  --dsa-button--font-weight: var(--ks-font-weight-semi-bold);

  //PRIMARY

  --dsa-button_primary--color: var(--dsa-text-color-on-primary);
  --dsa-button_primary--color_hover: var(--dsa-text-color-on-primary);
  --dsa-button_primary--color_active: var(--dsa-text-color-on-primary);

  --dsa-button_primary--background-color: var(--ks-background-color-primary-interactive);
  --dsa-button_primary--background-color_hover: var(--ks-background-color-primary-interactive-hover);

  --dsa-button_primary_inverted--color: var(--ks-color-fg-inverted-alpha-2);
  --dsa-button_primary_inverted--color_hover: var(--ks-color-fg-inverted);
  --dsa-button_primary_inverted--color_active: var(--ks-color-fg-inverted);

  //SECONDARY

  --dsa-button_secondary--color: var(--ks-text-color-default);
  --dsa-button_secondary--color_hover: var(--ks-text-color-default);
  --dsa-button_secondary--color_active: var(--ks-text-color-default);

  --dsa-button_secondary--border-color: transparent;
  --dsa-button_secondary--border-color_hover: transparent;
  --dsa-button_secondary--border-color_active: transparent;

  --dsa-button_secondary--border-width: 2px;

  --dsa-button_secondary--background-color: var(--ks-background-color-interface-interactive);
  --dsa-button_secondary--background-color_hover: var(--ks-background-color-interface-interactive-hover);
  --dsa-button_secondary--background-color_active: var(--ks-background-color-interface-interactive-active);

  //TERCIARY
  --dsa-button_terciary--color: var(--ks-text-color-default);
  --dsa-button_terciary--color_hover: var(--ks-text-color-default);
  --dsa-button_terciary--color_active: var(--ks-text-color-default);

  --dsa-button_terciary--border-color: var(--ks-border-color-interface-interactive);
  --dsa-button_terciary--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --dsa-button_terciary--border-color_active: var(--ks-border-color-interface-interactive-active);

  --dsa-button_terciary--background-color_hover: transparent;
  --dsa-button_terciary--background-color_active: transparent;
}
