@use "button-tokens.scss";

.dsa-button.c-button {
  --c-button--border-radius: var(--dsa-button--border-radius);
  --c-button--padding: var(--dsa-button--padding);
  --c-button--font-weight: var(--dsa-button--font-weight);
  --c-button--border-width: var(--dsa-button--border-width, var(--ks-border-width-default));

  &.c-button--solid {
    --c-button--color: var(--dsa-button_primary--color);
    --c-button--color-hover: var(--dsa-button_primary--color-hover);
    --c-button--color-active: var(--dsa-button_primary--color-active);

    --c-button--border-color: var(--dsa-button_primary--border-color, green);
    --c-button--border-color-hover: var(--dsa-button_primary--border-color-hover);
    --c-button--border-color-active: var(--dsa-button_primary--border-color-active);
    --c-button--border-color-selected: var(--dsa-button_primary--border-color-selected);

    //high contrast to Primary & Background Colors
    --c-button--background-color: var(--dsa-button_primary--background-color);
    --c-button--background-color-hover: var(--dsa-button_primary--background-color-hover);
    --c-button--background-color-active: var(--dsa-button_primary--background-color-active);
    --c-button--background-color-selected: var(--dsa-button_primary--background-color-selected);

    --c-button--shadow: var(--dsa-button_primary--shadow);
    --c-button--shadow-hover: var(--dsa-button_primary--shadow-hover);

    [ks-inverted="true"] & {
      --c-button--color: var(--dsa-button_primary_inverted--color);
      --c-button--color-hover: var(--dsa-button_primary_inverted--color-hover);
      --c-button--color-active: var(--dsa-button_primary_inverted--color-active);

      --c-button--border-color: var(--dsa-button_primary_inverted--border-color);
      --c-button--border-color-hover: var(--dsa-button_primary_inverted--border-color-hover);
      --c-button--border-color-active: var(--dsa-button_primary_inverted--border-color-active);
      --c-button--border-color-selected: var(--dsa-button_primary_inverted--border-color-selected);

      --c-button--background-color: var(--dsa-button_primary_inverted--background-color);
      --c-button--background-color-hover: var(--dsa-button_primary_inverted--background-color-hover);
      --c-button--background-color-active: var(--dsa-button_primary_inverted--background-color-active);
      --c-button--background-color-selected: var(--dsa-button_primary_inverted--background-color-selected);

      --c-button--shadow: var(--dsa-button_primary_inverted--shadow);
      --c-button--shadow-hover: var(--dsa-button_primary_inverted--shadow-hover);
    }
  }

  &.c-button--clear {
    padding: var(--dsa-button--padding);

    --c-button--color: var(--dsa-button_secondary--color);
    --c-button--color-hover: var(--dsa-button_secondary--color-hover);
    --c-button--color-active: var(--dsa-button_secondary--color-active);

    --c-button--border-color: var(--dsa-button_secondary--border-color);
    --c-button--border-color-hover: var(--dsa-button_secondary--border-color-hover);
    --c-button--border-color-active: var(--dsa-button_secondary--border-color-active);
    --c-button--border-color-selected: var(--dsa-button_secondary--border-color-selected);

    //high contrast to Primary & Background Colors
    --c-button--background-color: var(--dsa-button_secondary--background-color);
    --c-button--background-color-hover: var(--dsa-button_secondary--background-color-hover);
    --c-button--background-color-active: var(--dsa-button_secondary--background-color-active);
    --c-button--background-color-selected: var(--dsa-button_secondary--background-color-selected);

    --c-button--shadow: var(--dsa-button_secondary--shadow);
    --c-button--shadow-hover: var(--dsa-button_secondary--shadow-hover);

    [ks-inverted="true"] & {
      --c-button--color: var(--dsa-button_secondary_inverted--color);
      --c-button--color-hover: var(--dsa-button_secondary_inverted--color-hover);
      --c-button--color-active: var(--dsa-button_secondary_inverted--color-active);

      --c-button--border-color: var(--dsa-button_secondary_inverted--border-color);
      --c-button--border-color-hover: var(--dsa-button_secondary_inverted--border-color-hover);
      --c-button--border-color-active: var(--dsa-button_secondary_inverted--border-color-active);
      --c-button--border-color-selected: var(--dsa-button_secondary_inverted--border-color-selected);

      --c-button--background-color: var(--dsa-button_secondary_inverted--background-color);
      --c-button--background-color-hover: var(--dsa-button_secondary_inverted--background-color-hover);
      --c-button--background-color-active: var(--dsa-button_secondary_inverted--background-color-active);
      --c-button--background-color-selected: var(--dsa-button_secondary_inverted--background-color-selected);

      --c-button--shadow: var(--dsa-button_secondary_inverted--shadow);
      --c-button--shadow-hover: var(--dsa-button_secondary_inverted--shadow-hover);
    }
  }

  &.c-button--outline {
    padding: var(--dsa-button--padding);

    --c-button--color: var(--dsa-button_terciary--color);
    --c-button--color-hover: var(--dsa-button_terciary--color-hover);
    --c-button--color-active: var(--dsa-button_terciary--color-active);

    --c-button--border-color: var(--dsa-button_terciary--border-color);
    --c-button--border-color-hover: var(--dsa-button_terciary--border-color-hover);
    --c-button--border-color-active: var(--dsa-button_terciary--border-color-active);
    --c-button--border-color-selected: var(--dsa-button_terciary--border-color-selected);

    //high contrast to Primary & Background Colors
    --c-button--background-color: var(--dsa-button_terciary--background-color);
    --c-button--background-color-hover: var(--dsa-button_terciary--background-color-hover);
    --c-button--background-color-active: var(--dsa-button_terciary--background-color-active);
    --c-button--background-color-selected: var(--dsa-button_terciary--background-color-selected);

    --c-button--shadow: var(--dsa-button_terciary--shadow);
    --c-button--shadow-hover: var(--dsa-button_terciary--shadow-hover);

    [ks-inverted="true"] & {
      --c-button--color: var(--dsa-button_terciary_inverted--color);
      --c-button--color-hover: var(--dsa-button_terciary_inverted--color-hover);
      --c-button--color-active: var(--dsa-button_terciary_inverted--color-active);

      --c-button--border-color: var(--dsa-button_terciary_inverted--border-color);
      --c-button--border-color-hover: var(--dsa-button_terciary_inverted--border-color-hover);
      --c-button--border-color-active: var(--dsa-button_terciary_inverted--border-color-active);
      --c-button--border-color-selected: var(--dsa-button_terciary_inverted--border-color-selected);

      --c-button--background-color: var(--dsa-button_terciary_inverted--background-color);
      --c-button--background-color-hover: var(--dsa-button_terciary_inverted--background-color-hover);
      --c-button--background-color-active: var(--dsa-button_terciary_inverted--background-color-active);
      --c-button--background-color-selected: var(--dsa-button_terciary_inverted--background-color-selected);

      --c-button--shadow: var(--dsa-button_terciary_inverted--shadow);
      --c-button--shadow-hover: var(--dsa-button_terciary_inverted--shadow-hover);
    }
  }

  box-shadow: var(--c-button--shadow);
  transition-property: box-shadow, transform, background-color, color, border;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    box-shadow: var(--c-button--shadow-hover);
  }
}
