@import "../../selectors";

#{$selectors} {
  .c-button {
    &--solid {
      transition-property: box-shadow;
      box-shadow:
        0px 0px 2px 0px var(--ks-color-fg-alpha-9),
        0px 0px 20px 0px var(--ks-color-primary-alpha-6);

      --c-button--background-color-hover: var(--ks-background-color-primary);

      &:hover {
        box-shadow:
          0px 0px 3px 2px var(--ks-color-fg-alpha-9),
          0px 0px 30px 0px var(--ks-color-primary-alpha-9);
      }
    }
  }
}
