@import "./text-tokens.scss";

.c-rich-text.dsa-text {
  font: var(--dsa-text--font, var(--dsa-rich-text--font), var(--ks-font-copy-m));
  color: var(--dsa-text--color, var(--dsa-rich-text--color), var(--ks-text-color-default));

  &--highlight.c-rich-text {
    color: var(--dsa-text_highlight--color, var(--ks-text-color-default));
    font: var(--dsa-text_highlight--font, var(--ks-font-copy-l));
  }

  &--center.c-rich-text {
    text-align: center;
  }

  &--columns.c-rich-text {
    column-gap: var(--dsa-text__col--gap, var(--ks-spacing-inline-m));
    column-width: var(--dsa-text__col--width, 16em);
    column-count: auto;
  }
}
