.c-rich-text {
  --ks-text-col-width: 16em;

  &--highlight {
    color: var(--ks-color-fg);
    font: var(--ks-font-copy-l);
    font-weight: var(--ks-font-weight-semi-bold);
  }

  &--center {
    text-align: center;
  }

  &--columns {
    column-gap: var(--ks-spacing-inline-m);
    column-count: auto;
    column-width: var(--ks-text-col-width);
  }
}
