@import "../../selectors";

#{$selectors} {
  --dsa-text--font: var(--dsa-rich-text--font);
  --dsa-text--color: var(--dsa-rich-text--color);

  --dsa-text_highlight--color: var(--ks-text-color-default);
  --dsa-text_highlight--font: var(--ks-font-copy-l);

  --dsa-text__col--width: 16em;
  --dsa-text__col--gap: var(--ks-spacing-inline-m);
}
