.c-text {
  --c-text--font: var(--dsa-rich-text--font);
  --c-text--color: var(--dsa-rich-text--color);

  --c-text__highlight--color: var(--ks-color-fg);
  --c-text__highlight--font: var(--ks-font-copy-l);

  --c-text__col--width: 16em;
  --c-text__col--gap: var(--ks-spacing-inline-m);
}
