@import "../../selectors";

.c-form-check {
  --dsa-form-check--border: var(--ks-border-width-default) solid;
  --dsa-form-check--border-color: var(--ks-border-color-interface-interactive);
  --dsa-form-check--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --dsa-form-check--border-color_focus: var(--ks-border-color-interface-interactive-active);
  --dsa-form-check--border-color_checked: var(--ks-border-color-interface-interactive-selected);
  --dsa-form-check_checkbox--border-radius: 4px;

  --dsa-form-check--background: var(--ks-background-color-interface-interactive);
  --dsa-form-check--background_checked: var(--ks-color-primary);

  --dsa-form-check--shadow_focus: 0 0 4px 0;
  --dsa-form-check__checkmark--color: var(--dsa-text-color-on-primary);
}

.c-form-field {
  --dsa-form-field--color: var(--ks-text-color-interface);

  --dsa-form-field--border: var(--ks-border-width-default) solid;
  --dsa-form-field--border-color: var(--ks-border-color-interface-interactive);
  --dsa-form-field--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --dsa-form-field--border-color_focus: var(--ks-border-color-interface-interactive-active);

  --dsa-form-field--background: var(--ks-background-color-interface-interactive);
  --dsa-form-field--shadow_focus: 0 0 4px 0;

  --dsa-form-field__placeholder--color: var(--ks-color-fg-alpha-5);
}
