@use "hero-tokens.scss";
@use "@kickstartds/core/source/core/container";
@include container.wrapper("visual");

.c-header--spacer + .l-container {
  position: relative;

  .c-visual {
    margin-top: calc(var(--g-header-height) * -1);
    z-index: 1;
  }
}

.c-visual.c-hero {
  .c-headline {
    .c-headline__subheadline {
      color: var(--c-visual_subheadline--color);
    }
  }

  &.c-visual--full {
    height: 100vh;
  }

  .c-visual__box {
    max-width: 100%;
  }

  .c-visual__box {
    max-width: var(--c-visual_box--max-width);
  }

  .c-visual__content--indent {
    max-width: var(--l-section--content-width-wide);
  }
  @include container.size("≥", 640px, "visual") {
    &.c-hero--content-below {
      .c-visual__media {
        position: static;

        .c-visual__image {
          height: var(--c-visual--min-height);
        }
      }

      .c-visual__content {
        padding: 0 var(--l-section--content-padding);
        margin-top: -10%;
        position: relative;

        .c-visual__box {
          --c-visual_box--max-width: var(--l-section--content-width-default);
        }
      }
    }
  }
}
