:root {
  .c-visual.c-hero {
    --c-visual_overlay--background-size: 100%;
    --c-visual--text-color-neutral: var(--ks-color-fg);

    .c-visual__box {
      --c-visual_box--background: var(--ks-color-bg-alpha-2);
      --c-visual_box--color: var(--ks-color-fg);
      --c-visual_subheadline--color: var(--ks-text-color-primary);
      --c-visual_headline--color: var(--ks-color-fg);
      --c-visual_box--border-radius: var(--ks-border-radius-surface);
      --c-visual_box--padding: var(--ks-spacing-inset-squish-xl);
    }

    &--highlight-text.c-visual {
      .c-visual__box {
        --c-visual_text--font: var(--ks-font-copy-l);
      }
    }

    &--color-neutral.c-visual {
      .c-visual__box {
        --c-visual_text--color: var(--c-visual--text-color-neutral);
        --c-visual_subheadline--color: var(--c-visual--text-color-neutral);
      }
    }

    --c-visual_overlay--background: transparent;

    @container visual (min-width: 640px) {
      --c-visual_overlay--background: radial-gradient(
        50% 125% at 100% 0%,
        var(--ks-color-primary-alpha-5) 0%,
        var(--ks-color-bg-alpha-5) 100%
      );

      &.c-hero--content-below {
        --c-visual_overlay--background: linear-gradient(0deg, var(--ks-background-color-default) 15%, transparent 50%);
      }

      .c-visual__box {
        --c-visual_box--max-width: 50rem;
      }
    }
  }
}
