:root {
  --dsa-lightbox--background-color: var(--ks-background-color-default);
  --dsa-lightbox__placeholder--background: var(--ks-color-fg-to-bg-1);
  --dsa-lightbox--root-z-index: var(--ks-depth-modal);
  --dsa-lightbox__button--color: var(--dsa-text-color-on-primary);

  --dsa-lightbox__counter--shadow: var(--ks-color-fg-inverted);
  --dsa-lightbox__counter--font: var(--ks-font-interface-s);
  --dsa-lightbox__counter--color: var(--ks-color-fg);
}
