.switch {
  --icon-size: 2em;

  --switch-size: 1.35em;
  --button-gap: 0.5em;

  font: var(--ks-font-interface-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--ks-transition-collapse);
  pointer-events: all;
  cursor: pointer;
  gap: var(--button-gap);

  &__icon {
    color: var(--ks-color-secondary);
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &__arrow {
    color: var(--ks-color-secondary);
    width: var(--arrow-size);
    height: var(--arrow-size);
  }

  &__switch {
    position: relative;
    z-index: 2;
    display: inline-block;
    aspect-ratio: 1;
    height: var(--switch-size);
    width: calc(var(--switch-size) * 2);
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ks-color-fg-to-bg-8);
    border-radius: var(--ks-border-radius-pill);
    padding: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--ks-transition-fade);
    -webkit-transition: var(--ks-transition-fade);

    &:before {
      position: relative;
      top: 0;
      display: block;
      content: "";
      height: 100%;
      aspect-ratio: 1;
      width: auto;
      left: 0%;
      transform: translate(0%);
      background-color: var(--ks-color-secondary);
      border-radius: 50%;

      transition: var(--ks-transition-fade);
      -webkit-transition: var(--ks-transition-fade);
    }
  }

  &__checkbox:checked + &__slider:before {
    transform: translateX(125%);
  }

  &__label {
    display: flex;
    gap: var(--button-gap);
    align-items: center;
    color: var(--ks-text-color-interface);
    font-weight: var(--ks-font-weight-semi-bold);
    white-space: nowrap;
    left: 100%;

    p {
      margin: 0;
    }
  }
}
