.dsa-image-text {
  --dsa-image-text--font: var(--dsa-rich-text--font);
  --dsa-image-text--color: var(--dsa-rich-text--color);

  --dsa-image-text_highlight--font: var(--ks-font-copy-l);
  --dsa-image-text_highlight--color: var(--ks-color-fg); //TBD: semantic fg text color
}
