.select {
  --arrow-size: 1.75em;
  --icon-size: 2em;

  --select-size: 1.35em;
  --button-gap: 0.5em;

  font: var(--ks-font-interface-s);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--button-gap);
  font: var(--ks-font-interface-s);

  transition: var(--ks-transition-collapse);
  pointer-events: all;
  cursor: pointer;

  &__label {
    position: relative;
    gap: var(--button-gap);
    display: flex;
    align-items: center;
    font-weight: var(--ks-font-weight-semi-bold);
    color: var(--ks-color-fg);
    padding: 0;
    border: 0;
    cursor: pointer;
  }

  &__icon {
    color: var(--ks-color-secondary);
  }

  &__arrow {
    position: absolute;
    color: var(--ks-color-secondary);
    right: 0;
    pointer-events: none;
    transform: translateX(-50%);
    width: var(--arrow-size);
    height: var(--arrow-size);
  }

  select {
    position: relative;
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    padding-right: var(--arrow-size);

    font: var(--ks-font-interface-s);
    font-weight: var(--ks-font-weight-bold);
    color: var(--ks-text-color-primary);

    -webkit-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    resize: vertical;

    .icon {
      pointer-events: none;
      margin: 0;
      color: var(--ks-color-secondary);
    }
  }
}
