.c-cta {
  --c-cta-headline--color: var(--dsa-headline--color);
  --c-cta-subheadline--color: var(--dsa-subheadline--color);

  //TBD: Text naming: should there be a consistent name for text token(text/copy/rich-text/...)
  //TBD: Rich Text Token: should every component featuring rich text have the same token?
  --c-cta-copy--font: var(--dsa-rich-text--font);
  --c-cta-copy--color: var(--dsa-rich-text--color);

  --c-cta--gap: var(--ks-spacing-m);
}
