.c-cta {
  --dsa-cta--gap: var(--ks-spacing-m);

  --dsa-cta__headline--color: var(--dsa-headline--color);
  --dsa-cta__subheadline--color: var(--dsa-subheadline--color);

  --dsa-cta__copy--font: var(--dsa-rich-text--font);
  --dsa-cta__copy--color: var(--dsa-rich-text--color);
}
