@import "./cta-tokens.scss";

.c-cta {
  display: flex;
  flex-direction: column;
  gap: var(--dsa-cta--gap);
  width: 100%;

  .l-container {
    width: 100%;
    object-fit: contain;

    .c-rich-text {
      width: 100%;
      --dsa-rich-text--font: var(--dsa-cta__copy--font, var(--dsa-text--font));
      --dsa-rich-text--color: var(--dsa-cta__copy--color, var(--dsa-text--color));
    }
  }

  &--align-center {
    margin: auto;

    .c-rich-text {
      text-align: center;
    }
  }

  .c-headline {
    max-width: 100%;
    --dsa-headline--color: var(--dsa-cta__headline--color);
    &__subheadline {
      --dsa-headline_subheadline--color: var(--dsa-cta__subheadline--color);
    }
  }

  .c-button {
    width: fit-content;
  }
}
