@import "./cta-tokens.scss";

.c-cta {
  display: flex;
  flex-direction: column;
  gap: var(--c-cta--gap);
  width: 100%;

  .l-container {
    width: 100%;
    object-fit: contain;

    .c-rich-text {
      width: 100%;
      --c-rich-text--font: var(--c-cta-copy--font);
      --c-rich-text--color: var(--c-cta-copy--color);
    }
  }

  &--align-center {
    margin: auto;

    .c-rich-text {
      text-align: center;
    }
  }

  .c-headline {
    max-width: 100%;
    --c-headline--color: var(--c-cta-headline--color);
    &__subheadline {
      --c-headline_subheadline--color: var(--c-cta-subheadline--color);
    }
  }

  .c-button {
    width: fit-content;
  }
}
