.c-cta {
  --c-cta--gap: var(--ks-spacing-m);

  display: flex;
  flex-direction: column;
  gap: var(--c-cta--gap);

  &--align-center {
    margin: auto;

    .c-cta__links {
      justify-content: center;
    }

    .c-rich-text {
      text-align: center;
    }
  }

  .c-headline {
    max-width: 100%;
  }

  &__links {
    display: flex;
    gap: var(--ks-spacing-stack-m) var(--ks-spacing-inline-s);
    flex-wrap: wrap;
  }

  .c-button {
    width: fit-content;
  }
}
