@use "teaser-card-tokens.scss";
@use "@kickstartds/core/source/core/container";
@include container.wrapper("teaser-card");

.l-container--teaser-card {
  display: flex;
}

.c-teaser.dsa-teaser-card {
  --c-teaser--padding: var(--dsa-teaser-card--padding, var(--ks-spacing-inset-l));
  --c-teaser--background: var(--dsa-teaser-card--background, var(--ks-color-fg-alpha-9));
  --c-teaser--color: var(--dsa-teaser-card__copy--color, var(--ks-text-color-default));
  --c-teaser--border: var(
    --dsa-teaser-card--border,
    var(--ks-border-width-default) solid var(--ks-border-color-interface-interactive)
  );
  --c-teaser--border-radius: var(--dsa-teaser-card--border-radius, var(--ks-border-radius-card));
  --c-teaser--shadow-hover: var(--dsa-teaser-card--shadow_hover, var(--ks-box-shadow-card-hover));

  position: relative;
  overflow: visible;

  > :first-child:not(.c-teaser__body) {
    overflow: hidden;
    border-radius: var(--dsa-teaser-card--border-radius) var(--dsa-teaser-card--border-radius) 0 0;
  }

  img {
    object-fit: cover;
  }

  &--wide {
    img {
      aspect-ratio: 4/3;
    }
  }

  &--landscape {
    img {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    img {
      aspect-ratio: 1/1;
    }
  }

  .c-rich-text {
    font: var(--dsa-teaser-card-card--font, var(--dsa-rich-text--font), var(--ks-font-copy-m));
  }

  .c-teaser__topic {
    font: var(--dsa-teaser-card__topic--font, var(--dsa-topic-font));
    font-weight: var(--dsa-teaser-card__topic--font-weight, var(--dsa-topic-font-weight));
  }

  @include container.size("≥", 640px, "teaser-card") {
    &--unset {
      img {
        height: 100%;
      }
    }

    &--row {
      flex-direction: row;

      .c-teaser__body {
        justify-content: center;
        flex-basis: 50%;

        .c-teaser__text {
          flex: 0;
        }
      }

      > :first-child:not(.c-teaser__body) {
        flex: 50%;
        border-radius: var(--dsa-teaser-card--border-radius) 0 0 var(--dsa-teaser-card--border-radius);
      }
    }
  }

  &--label {
    .dsa-teaser-card__label {
      border-radius: var(--dsa-teaser-card__label--border-radius);
      pointer-events: initial;
      padding: var(--dsa-teaser-card__label--padding);
      transform: translate(0.5em, -50%);
      font: var(--dsa-teaser-card__label--font);
      text-align: center;
      font-weight: var(--dsa-teaser-card__label--font-weight);
      color: var(--dsa-teaser-card__label--color);
      position: absolute;
      background-color: var(--dsa-teaser-card__label--background-color);
      top: 0;
      right: 0;
    }
  }
}
