@import "./cta-paid-tokens.scss";

.c-header--floating + .l-container--storytelling,
.c-header--floating + .l-section .l-container--storytelling:first-child {
  @media (min-width: 640px) {
    .c-storytelling.c-cta-paid {
      padding-top: calc(var(--g-header-height) + var(--c-storytelling--horizontal-padding));
      z-index: 1;
    }
  }
}

.c-storytelling.c-cta-paid {
  justify-content: center;
  align-items: center;

  gap: var(--c-cta--gap);
  padding: 0;

  &--highlight-text {
    .c-storytelling__text {
      font: var(--ks-font-copy-l);
      color: var(--ks-color-fg);
    }
  }

  .c-storytelling__box {
    padding: var(--c-storytelling--vertical-padding) var(--c-storytelling--horizontal-padding);

    &__content {
      &--center {
        .c-button-group {
          justify-content: center;
        }
      }
    }
  }

  .c-storytelling__box:only-child {
    width: 100%;
    max-width: calc(var(--l-section--content-width-default) - calc(var(--l-section--content-padding) * 2));
  }

  > .c-storytelling__image {
    padding: var(--c-storytelling--vertical-padding) var(--c-storytelling--horizontal-padding);
  }

  &.c-storytelling--full {
    > .c-storytelling__image {
      padding: 0;
    }
  }

  &.c-cta--image-v-top {
    > .c-storytelling__image {
      align-items: flex-start;
    }
  }
  &.c-cta--image-v-bottom {
    > .c-storytelling__image {
      align-items: flex-end;
    }
  }

  &.c-cta--image-h-left {
    > .c-storytelling__image {
      align-items: flex-start;
    }
  }
  &.c-cta--image-h-right {
    > .c-storytelling__image {
      align-items: flex-end;
    }
  }

  > .c-storytelling__image,
  > .c-storytelling__box {
    max-width: calc(
      calc(var(--l-section--content-width-wide) / 2) - var(--l-section--content-padding) - calc(var(--c-cta--gap) / 2)
    );
  }

  &.c-cta--full-width {
    > .c-storytelling__image,
    > .c-storytelling__box {
      max-width: 100%;
    }
  }

  .c-storytelling__box {
    &__content {
      max-width: 100%;
    }
  }
}
