.c-cta.c-storytelling {
  --c-cta--gap: var(--ks-spacing-m);
  --c-storytelling--vertical-padding: var(--l-section--space-default);
  --c-storytelling--horizontal-padding: var(--l-section--content-padding);
}
