.c-cta-paid.c-storytelling {
  --c-storytelling--vertical-padding: var(--l-section--space-default);
  --c-storytelling--horizontal-padding: var(--l-section--content-padding);

  .c-storytelling__box:only-child {
    --c-storytelling--horizontal-padding: var(--l-section--content-padding);
  }
}
