@import "./cta-paid-tokens.scss";

.c-header--spacer + .l-section,
.c-header--spacer + .l-container {
  @media (min-width: 640px) {
    position: relative;

    .c-storytelling.c-cta {
      margin-top: calc(var(--g-header-height) * -1);
      padding-top: calc(var(--g-header-height) + var(--c-storytelling--horizontal-padding));
      z-index: 1;
    }
  }
}

.c-storytelling.c-cta {
  --c-storytelling--horizontal-padding: var(--l-section--content-padding);
  justify-content: center;
  padding: var(--c-storytelling--horizontal-padding) var(--l-section--content-padding);
  gap: var(--c-cta--gap);

  .c-storytelling__box {
    &__content {
      &--center {
        .c-cta__links {
          justify-content: center;
        }
      }
    }
  }

  .c-storytelling__box:only-child {
    max-width: calc(var(--l-section--content-width-default) - calc(var(--l-section--content-padding) * 2));
  }

  > .c-storytelling__image,
  > .c-storytelling__box {
    padding: 0;
  }

  > .c-storytelling__image,
  > .c-storytelling__box {
    padding: 0;
    max-width: calc(
      calc(var(--l-section--content-width-wide) / 2) - var(--l-section--content-padding) - calc(var(--c-cta--gap) / 2)
    );
  }

  &.c-cta--full-width {
    > .c-storytelling__image,
    > .c-storytelling__box {
      max-width: 100%;
    }
  }

  .c-cta__links {
    display: flex;
    gap: var(--ks-spacing-stack-m) var(--ks-spacing-inline-s);
    flex-wrap: wrap;
  }

  .c-storytelling__box {
    &__content {
      max-width: 100%;
    }
  }
}
