.c-feature {
  --dsa-feature__title--color: var(--dsa-topic--color);
  --dsa-feature__title--font: var(--ks-font-interface-m);
  --dsa-feature__title--font-family: var(--dsa-topic--font-family);

  --dsa-feature__copy--color: var(--dsa-rich-text--color);
  --dsa-feature__copy--font: var(--ks-font-copy-s);

  --dsa-feature__link-font: var(--ks-font-copy-s);

  --dsa-feature__icon--color: var(--ks-text-color-primary);

  --dsa-feature_small__icon--size: calc(var(--ks-line-height-interface-m) * var(--ks-font-size-interface-m));
  --dsa-feature_large__icon--size: calc(var(--ks-font-size-copy-m) * 2.5);

  --dsa-feature_small--gap: var(--ks-spacing-stack-xs);
  --dsa-feature_large--gap: var(--ks-spacing-stack-s);

  --dsa-feature_small__icon--gap: var(--ks-spacing-xs);
  --dsa-feature_large__icon--gap: var(--ks-spacing-s);
}
