.invert-toggle {
  --switch-size: 1.35em;

  pointer-events: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: var(--ks-spacing-xl);

  &__container {
    overflow: hidden;
    position: sticky;
    top: 90%;
    cursor: pointer;
    transition: var(--ks-transition-hover);
    padding: 12px;
    padding-right: 0;
    margin-bottom: var(--ks-spacing-xxl);
  }

  &__button {
    display: flex;
    align-items: center;
    transition: var(--ks-transition-collapse);
    pointer-events: all;
    cursor: pointer;
    box-shadow:
      0 0 0 2px var(--ks-color-fg-alpha-8),
      0 0px 6px var(--ks-color-fg-alpha-5);

    background-color: var(--ks-background-color-default);
    border-radius: var(--ks-border-radius-pill) 0 0 var(--ks-border-radius-pill);
    font: var(--ks-font-interface-s);
    padding: 0.5em;
    gap: 1em;

    @media (min-width: 62rem) {
      transform: translateX(calc(calc(var(--switch-size) * 2) + 8px));

      &:hover {
        transform: translateX(0);
      }
    }
  }

  &__icon {
    color: var(--ks-color-secondary);
  }

  &__switch {
    position: relative;
    z-index: 2;
    display: inline-block;
    aspect-ratio: 1;
    height: var(--switch-size);
    width: calc(var(--switch-size) * 2);
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ks-color-fg-to-bg-8);
    border-radius: var(--ks-border-radius-pill);
    padding: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--ks-transition-fade);
    -webkit-transition: var(--ks-transition-fade);

    &:before {
      position: relative;
      top: 0;
      display: block;
      content: "";
      height: 100%;
      aspect-ratio: 1;
      width: auto;
      left: 0%;
      transform: translate(0%);
      background-color: var(--ks-color-secondary);
      border-radius: 50%;

      transition: var(--ks-transition-fade);
      -webkit-transition: var(--ks-transition-fade);
    }
  }

  &__checkbox:checked + &__slider:before {
    transform: translateX(125%);
  }

  &__label {
    display: flex;

    align-items: center;
    color: var(--ks-text-color-interface);
    font-weight: var(--ks-font-weight-bold);
    transition: var(--ks-transition-hover);
    transition-property: transform, left;
    white-space: nowrap;
    padding-left: var(--ks-spacing-xxs);
    left: 100%;
  }
}
