.dsa-divider {
  --dsa-divider--background: var(--ks-border-color-interface);
  --dsa-divider--background_accent: var(--ks-border-color-interface);
  --dsa-divider--height: var(--ks-border-width-default);
}
