.background-color {
  color: transparent !important;
  border: none !important;

  .color-interactive.c-button {
    color: transparent !important;
  }
}

.border-color {
  color: transparent !important;
  border: var(--ks-border-width-default) solid;
  background-color: transparent !important;

  .color-interactive.c-button {
    color: transparent !important;
  }
}

.text-color {
  background-color: transparent !important;
  border: 0 !important;
  font: var(--ks-font-copy-m) !important;
  margin-right: auto;
  padding: 0 !important;
}

.color-primary {
  &:not(.color-interactive) {
    color: var(--ks-text-color-primary);
  }
  background-color: var(--ks-background-color-primary);
  border-color: var(--ks-border-color-primary);

  &.color-interactive.dsa-button {
    --dsa-button_secondary--background-color: var(--ks-background-color-primary-interactive);
    --dsa-button_secondary--background-color_hover: var(--ks-background-color-primary-interactive-hover);
    --dsa-button_secondary--background-color_active: var(--ks-background-color-primary-interactive-active);
    --dsa-button_secondary--background-color_selected: var(--ks-background-color-primary-interactive-selected);

    --dsa-button_secondary--color: var(--ks-text-color-primary-interactive);
    --dsa-button_secondary--color_hover: var(--ks-text-color-primary-interactive-hover);
    --dsa-button_secondary--color_active: var(--ks-text-color-primary-interactive-active);

    --dsa-button_secondary--border-color: var(--ks-border-color-primary-interactive);
    --dsa-button_secondary--border-color_hover: var(--ks-border-color-primary-interactive-hover);
    --dsa-button_secondary--border-color_active: var(--ks-border-color-primary-interactive-active);
    --dsa-button_secondary--border-color_selected: var(--ks-border-color-primary-interactive-selected);
  }
}

.color-interface {
  &:not(.color-interactive) {
    color: var(--ks-text-color-interface);
  }
  background-color: var(--ks-background-color-interface);
  border-color: var(--ks-border-color-interface);

  &.color-interactive.dsa-button {
    --dsa-button_secondary--background-color: var(--ks-background-color-interface-interactive);
    --dsa-button_secondary--background-color_hover: var(--ks-background-color-interface-interactive-hover);
    --dsa-button_secondary--background-color_active: var(--ks-background-color-interface-interactive-active);
    --dsa-button_secondary--background-color_selected: var(--ks-background-color-interface-interactive-selected);

    --dsa-button_secondary--color: var(--ks-text-color-interface-interactive);
    --dsa-button_secondary--color_hover: var(--ks-text-color-interface-interactive-hover);
    --dsa-button_secondary--color_active: var(--ks-text-color-interface-interactive-active);

    --dsa-button_secondary--border-color: var(--ks-border-color-interface-interactive);
    --dsa-button_secondary--border-color_hover: var(--ks-border-color-interface-interactive-hover);
    --dsa-button_secondary--border-color_active: var(--ks-border-color-interface-interactive-active);
    --dsa-button_secondary--border-color_selected: var(--ks-border-color-interface-interactive-selected);
  }
}

.color-default {
  &:not(.color-interactive) {
    color: var(--ks-text-color-default);
  }
  background-color: var(--ks-background-color-default);
  border-color: var(--ks-border-color-default);

  &.color-interactive.dsa-button {
    --dsa-button_secondary--background-color: var(--ks-background-color-default-interactive);
    --dsa-button_secondary--background-color_hover: var(--ks-background-color-default-interactive-hover);
    --dsa-button_secondary--background-color_active: var(--ks-background-color-default-interactive-active);
    --dsa-button_secondary--background-color_selected: var(--ks-background-color-default-interactive-selected);

    --dsa-button_secondary--color: var(--ks-text-color-default-interactive);
    --dsa-button_secondary--color_hover: var(--ks-text-color-default-interactive-hover);
    --dsa-button_secondary--color_active: var(--ks-text-color-default-interactive-active);

    --dsa-button_secondary--border-color: var(--ks-border-color-default-interactive);
    --dsa-button_secondary--border-color_hover: var(--ks-border-color-default-interactive-hover);
    --dsa-button_secondary--border-color_active: var(--ks-border-color-default-interactive-active);
    --dsa-button_secondary--border-color_selected: var(--ks-border-color-default-interactive-selected);
  }
}
