@import "../../selectors";

:root {
  .c-teaser.c-component-teaser {
    --g-topic--font: var(--ks-font-copy-l);
    --g-topic--font-weight: var(--ks-font-weight-semi-bold);
    --c-teaser_text--spacing: 0.25em;
    --c-rich-text--font: var(--ks-font-copy-s);
    --c-teaser--background: var(--ks-color-fg-alpha-9);
    --c-teaser--color: var(--ks-color-fg-to-bg-3);
    --c-teaser--border: 1px solid var(--ks-color-fg-alpha-8);
    --c-teaser--border-radius: var(--ks-border-radius-card);
    --c-teaser--shadow-hover: 0 1px 11px var(--ks-color-fg-alpha-6);
  }
}
