@import "./header-tokens.scss";

.c-header {
  &--floating {
    background: linear-gradient(var(--ks-color-bg-alpha-5), transparent);
    position: absolute;
    z-index: 999;

    .c-nav-main__link {
      text-shadow: 0 0 10px var(--ks-color-bg-alpha-5);
    }
  }

  position: relative;
  background-color: var(--c-header--background-color);
  z-index: 1;
  width: 100%;
  display: flex;
  padding: var(--g-header--spacing-vertical) 0;

  &__content {
    padding: 0 var(--g-header--spacing-horizontal);
    max-width: var(--l-section--content-width-max);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;

    img {
      height: var(--c-header-logo--height);
      width: auto;
    }
  }
}

.c-header--spacer {
  display: none;
  @media (min-width: 640px) {
    display: block;
    height: var(--c-header--height);
    z-index: -1;
    position: relative;
    background-color: var(--ks-background-color-default);
  }
}
