:root {
  //Global token for calculation of header height
  --g-header--spacing-vertical: var(--ks-spacing-stack-m);
  --g-header--spacing-horizontal: var(--l-section--content-padding);
}

.c-header {
  --c-header--background-color: var(--ks-background-color-default);

  --c-header-logo--height: var(--g-logo--height);
}
