@use "@kickstartds/core/source/core/container";
@include container.wrapper("post-teaser");

.dsa-post-teaser {
  --dsa-blog-teaser__topic--font: var(--ks-font-display-l);
  --dsa-blog-teaser__copy--font: var(--dsa-rich-text--font, var(--ks-font-copy-m));
  --dsa-blog-teaser__tag-label--font: var(--ks-font-interface-s);

  @include container.size("≥", 640px, "post-teaser") {
    --dsa-blog-teaser__topic--font: var(--ks-font-display-l);
    --dsa-blog-teaser__copy--font: var(--dsa-rich-text--font, var(--ks-font-copy-m));
    --dsa-blog-teaser__tag-label--font: var(--ks-font-interface-s);
  }

  @include container.size("≥", 1000px, "post-teaser") {
    --dsa-blog-teaser__topic--font: var(--ks-font-display-xl);
  }
}
