@import "../selectors";
#{$selectors} {
  .c-logo-tiles {
    @container logo-tiles (min-width: 640px) {
      --c-logo-tiles--gutter: 3rem;
      --c-logo-tiles--cols: 6;
    }
  }

  .c-button {
    --c-button--border-radius: var(--ks-border-radius-pill);
    --c-button--padding: 0.75em 2em;
    --c-button--font-weight: var(--ks-font-weight-medium);
  }
}
