@import "./gallery-tokens.scss";
@import "../../selectors";

.dsa-gallery {
  &__grid {
    &--stack {
      display: flex;
      gap: var(--dsa-gallery--gap-vertical);
      flex-direction: column;
    }

    &--small-tiles {
      display: grid;
      gap: var(--dsa-gallery--gap-horizontal) var(--dsa-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--dsa-gallery--tile-min-width-small), 100%), 1fr));
    }

    &--large-tiles {
      display: grid;
      gap: var(--dsa-gallery--gap-horizontal) var(--dsa-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--dsa-gallery--tile-min-width-large), 100%), 1fr));
    }
  }

  &__image {
    flex: 1 1;

    &--square {
      img {
        aspect-ratio: var(--dsa-gallery--image-ratio-square);
        object-fit: cover;
      }
    }

    &--wide {
      img {
        aspect-ratio: var(--dsa-gallery--image-ratio-wide);
        object-fit: cover;
      }
    }

    &--landscape {
      img {
        aspect-ratio: var(--dsa-gallery--image-ratio-landscape);
        object-fit: cover;
      }
    }
  }
}

.pswp {
  .pswp__img {
    object-fit: contain;
  }

  .pswp__caption {
    background-color: var(--ks-color-bg-alpha-3);
    color: var(--ks-color-fg);
  }
}

#{$selectors} {
  --c-lightbox--bg: var(--ks-color-bg);
  --c-lightbox--placeholder-bg: var(--ks-color-fg-to-bg-1);
  --c-lightbox--root-z-index: var(--ks-depth-modal);
  --c-lightbox--icon-color: var(--ks-color-fg);
  --c-lightbox--icon-color-secondary: var(--ks-color-secondary);
  --c-lightbox--stroke-width: 0px;
  --c-lightbox--error-text-color: var(--ks-color-fg-to-bg-9);
}
