.c-gallery {
  &__grid {
    &--stack {
      display: flex;
      gap: var(--ks-spacing-stack-m);
      flex-direction: column;
    }

    &--small-tiles {
      display: grid;
      gap: var(--ks-spacing-inline-m);
      grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    }
    &--large-tiles {
      display: grid;
      gap: var(--ks-spacing-inline-m);
      grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
    }
  }

  &__image {
    flex: 1 1;
  }
}
