@import "./gallery-tokens.scss";

.c-gallery {
  &__grid {
    &--stack {
      display: flex;
      gap: var(--c-gallery--gap-vertical);
      flex-direction: column;
    }

    &--small-tiles {
      display: grid;
      gap: var(--c-gallery--gap-horizontal) var(--c-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--c-gallery--tile-min-width-small), 100%), 1fr));
    }

    &--large-tiles {
      display: grid;
      gap: var(--c-gallery--gap-horizontal) var(--c-gallery--gap-vertical);
      grid-template-columns: repeat(auto-fit, minmax(min(var(--c-gallery--tile-min-width-large), 100%), 1fr));
    }
  }

  &__image {
    flex: 1 1;

    &--square {
      img {
        aspect-ratio: var(--c-gallery--image-ratio-square);
        object-fit: cover;
      }
    }

    &--wide {
      img {
        aspect-ratio: var(--c-gallery--image-ratio-wide);
        object-fit: cover;
      }
    }

    &--landscape {
      img {
        aspect-ratio: var(--c-gallery--image-ratio-landscape);
        object-fit: cover;
      }
    }
  }
}

.pswp {
  .pswp__img {
    object-fit: contain;
  }

  .pswp__caption {
    background-color: var(--ks-color-bg-alpha-3);
    color: var(--ks-color-fg);
  }
}
