@import "../../selectors";

.l-section {
  --dsa-section__col--min-width: var(--dsa-section_tile-width--default);
  --dsa-section__col--max-width: 1fr;
  --dsa-section__col--repeat: auto-fit;

  --dsa-section__tile--width_default: 18rem;
  --dsa-section__tile--width_smallest: 14rem;

  --dsa-section__tile--width-medium: var(--dsa-section--content-width-narrow);
  --dsa-section__tile--width-large: var(--dsa-section--content-width-default);
  --dsa-section__tile--width-largest: var(--dsa-section--content-width-wide);

  --dsa-section__buttons--space-before: var(--dsa-section--gutter);
  --dsa-section__content--width: var(--dsa-section--container-width);

  --dsa-section--background-color_default: var(--ks-background-color-default);
  --dsa-section--background-color_bold: var(--ks-background-color-bold);
  --dsa-section--background-color_accent: var(--ks-background-color-accent);

  --dsa-section__slider-arrow--color: var(--ks-text-color-interface-interactive);
  --dsa-section__slider-arrow--background-color: transparent;

  --dsa-section_stagelights--background-image: radial-gradient(
      50% 150% at 100% -50%,
      var(--ks-color-primary-inverted-alpha-3) 0%,
      transparent 100%
    ),
    radial-gradient(50% 150% at 0% -50%, var(--ks-color-primary-alpha-3) 0%, transparent 100%);

  --dsa-section_anchor-glow--background-image: radial-gradient(
    50% 50% at 50% 100%,
    var(--ks-color-secondary-alpha-5) 0%,
    transparent 100%
  );

  --dsa-section_symmetric-glow--background-image: radial-gradient(
      20% 50% at 100% 50%,
      var(--ks-color-primary-alpha-5) 0%,
      transparent 100%
    ),
    radial-gradient(20% 50% at 0% 50%, var(--ks-color-primary-inverted-alpha-5) 0%, transparent 100%);

  --dsa-section_accent-transition--background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--ks-background-color-accent) 100%
  );

  --dsa-section_bold-transition--background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--ks-background-color-bold) 100%
  );

  --dsa-section_vertical-gradient--background-image: linear-gradient(
    0deg,
    var(--ks-color-primary-alpha-5) 0%,
    var(--ks-color-secondary-alpha-5) 100%
  );

  --dsa-section_horizontal-gradient--background-image: linear-gradient(
    90deg,
    var(--ks-color-primary-alpha-5) 0%,
    var(--ks-color-secondary-alpha-5) 100%
  );

  --dsa-section__spotlight--left: 0;
  --dsa-section__spotlight--top: 0;
  --dsa-section__spotlight--color: var(--ks-color-primary-alpha-5);
}
