@import "../../selectors";

.dsa-section {
  //Columns
  --dsa-section__col--min-width: var(--dsa-section_tile-width--default);
  --dsa-section__col--max-width: 1fr;
  --dsa-section__col--repeat: auto-fit;

  //Space After & Before
  --dsa-section--space_default: var(--ks-spacing-xxl);
  --dsa-section--space_small: calc(var(--ks-spacing-xxl) / 2);

  //Tile Width
  --dsa-section__tile--width_smallest: 14rem;
  --dsa-section__tile--width_default: 18rem;
  --dsa-section__tile--width_medium: var(--l-section--content-width-narrow);
  --dsa-section__tile--width_large: var(--l-section--content-width-default);
  --dsa-section__tile--width_largest: var(--l-section--content-width-wide);

  //Gutter
  --dsa-section--gutter_small: var(--ks-spacing-xs);
  --dsa-section--gutter_default: var(--ks-spacing-m);
  --dsa-section--gutter_large: var(--ks-spacing-xl);

  //Buttons
  --dsa-section__buttons--space-before: var(--ks-spacing-stack-m);

  //Content Width
  --dsa-section__content--width_narrow: 46.5rem;
  --dsa-section__content--width_default: 62rem;
  --dsa-section__content--width_wide: 75rem;
  --dsa-section__content--width_max: 100vw;
  --dsa-section__content--width_full: 100vw;

  //Background Color
  --dsa-section--background-color_default: var(--ks-color-bg);
  --dsa-section--background-color_bold: var(--ks-background-color-bold);
  --dsa-section--background-color_accent: var(--ks-background-color-accent);

  //Slider Arrows
  --dsa-section__slider-arrow--color: var(--ks-text-color-interface-interactive);
  --dsa-section__slider-arrow--background-color: transparent;
  --dsa-section__slider-arrow--size: 2rem;
  --dsa-section__slider-arrow--padding: 0.5em;
  --dsa-section__slider-arrow--opacity: 0.6;
  --dsa-section__slider-arrow--opacity_hover: 1;
  --dsa-section__slider-arrow--opacity_disabled: 0.3;
  --dsa-section__slider-arrow--background: transparent;

  //Background Styles
  --dsa-section_stagelights--background-image: radial-gradient(
      50% 150% at 100% -50%,
      var(--ks-color-primary-inverted-alpha-3) 0%,
      transparent 100%
    ),
    radial-gradient(50% 150% at 0% -50%, var(--ks-color-primary-alpha-3) 0%, transparent 100%);

  --dsa-section_anchor-glow--background-image: radial-gradient(
    50% 50% at 50% 100%,
    var(--ks-color-secondary-alpha-5) 0%,
    transparent 100%
  );

  --dsa-section_symmetric-glow--background-image: radial-gradient(
      20% 50% at 100% 50%,
      var(--ks-color-primary-alpha-5) 0%,
      transparent 100%
    ),
    radial-gradient(20% 50% at 0% 50%, var(--ks-color-primary-inverted-alpha-5) 0%, transparent 100%);

  --dsa-section_accent-transition--background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--ks-background-color-accent) 100%
  );

  --dsa-section_bold-transition--background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--ks-background-color-bold) 100%
  );

  --dsa-section_vertical-gradient--background-image: linear-gradient(
    0deg,
    var(--ks-color-primary-alpha-5) 0%,
    var(--ks-color-secondary-alpha-5) 100%
  );

  --dsa-section_horizontal-gradient--background-image: linear-gradient(
    90deg,
    var(--ks-color-primary-alpha-5) 0%,
    var(--ks-color-secondary-alpha-5) 100%
  );

  //Spotlight
  --dsa-section__spotlight--left: 50%;
  --dsa-section__spotlight--top: 50%;
  --dsa-section__spotlight--color: var(--ks-color-primary-alpha-5);
}
