@use "section-tokens.scss";

.l-section {
  .l-section__content {
    padding: 0;

    .l-section__container {
      padding: 0 var(--l-section--content-padding);
    }

    &.l-section__content--full {
      .l-section__container {
        padding: 0;

        &--default,
        &--narrow,
        &--wide {
          padding: 0 var(--l-section--content-padding);
        }
      }
    }
  }

  &.l-section--align-center {
    .l-section__buttons {
      justify-content: center;
    }
  }

  &--stagelights.l-section {
    background-image: radial-gradient(
        50% 150% at 100% -50%,
        var(--ks-color-primary-inverted-alpha-3) 0%,
        transparent 100%
      ),
      radial-gradient(50% 150% at 0% -50%, var(--ks-color-primary-alpha-3) 0%, transparent 100%);
  }

  &--anchor-glow.l-section {
    background-image: radial-gradient(50% 50% at 50% 100%, var(--ks-color-secondary-alpha-5) 0%, transparent 100%);
  }

  &--symmetric-glow.l-section {
    background-image: radial-gradient(25% 25% at 100% 50%, var(--ks-color-secondary-alpha-5) 0%, transparent 100%),
      radial-gradient(25% 25% at 0% 50%, var(--ks-color-secondary-alpha-5) 0%, transparent 100%);
  }

  &--accent-transition.l-section {
    background-image: linear-gradient(180deg, transparent 0%, var(--ks-background-color-accent) 100%);
  }

  &--bold.l-section {
    background-color: var(--ks-background-color-bold);
  }

  &--bold-transition.l-section {
    background-image: linear-gradient(180deg, transparent 0%, var(--ks-background-color-bold) 100%);
  }

  &--vertical-gradient.l-section {
    background-image: linear-gradient(0deg, var(--ks-color-primary-alpha-3) 0%, var(--ks-color-secondary-alpha-3) 100%);
  }

  &--horizontal-gradient.l-section {
    background-image: linear-gradient(
      90deg,
      var(--ks-color-primary-alpha-3) 0%,
      var(--ks-color-secondary-alpha-3) 100%
    );
  }

  &__buttons {
    display: flex;
    gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);
    justify-content: center;

    .l-section__container--left & {
      justify-content: flex-start;
    }
  }

  &__headline {
    &--switch-order.c-headline {
      flex-direction: column-reverse;
    }
  }
}
