@use "section-tokens.scss";

.l-section {
  &.l-section--align-center {
    .l-section__buttons {
      justify-content: center;
    }
  }

  &__buttons {
    display: flex;
    gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);

    .l-section--align-center & {
      justify-content: center;
    }
  }

  &__headline {
    &--switch-order.c-headline {
      flex-direction: column-reverse;
    }
  }
}
