@use "./logos-tokens.scss";

.dsa-logos {
  display: flex;
  flex-direction: column;
  gap: var(--dsa-logos-gap);

  &__tagline {
    font: var(--dsa-logos__tagline--font, var(--dsa-headline_h3--font), var(--ks-font-display-m));
    font-weight: var(--dsa-logos__tagline--font-weight, var(--dsa-headline--font-weight), var(--ks-font-weight-medium));
    max-width: var(--l-section--content-width-narrow);
    color: var(--dsa-logos__tagline--color, var(--dsa-headline--color), var(--ks-text-color-display));
    width: 100%;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-m);

    .dsa-button {
      width: fit-content;
    }

    &__text {
      color: var(--ks-text-color-default);
      max-width: var(--l-section--content-width-narrow);
    }

    &__text,
    &__link {
      font: var(--ks-font-copy-m);
    }
  }

  &__grid {
    gap: var(--dsa-logos__grid--gap-vertical) var(--dsa-logos__grid--gap-horizontal);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    max-width: calc(100% / var(--dsa-logos__grid_mobile--cols) - var(--dsa-logos__grid--gap-horizontal));

    @container logos (min-width: 420px) {
      max-width: calc(100% / var(--dsa-logos__grid_tablet--cols) - var(--dsa-logos__grid--gap-horizontal));
      --dsa-logos__grid--cols: 3;
    }
    @container logos (min-width: 640px) {
      max-width: calc(100% / var(--dsa-logos__grid_desktop--cols) - var(--dsa-logos__grid--gap-horizontal));
    }

    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &--align-left {
    .dsa-logo-tiles {
      justify-content: start;
    }
  }

  &--align-center {
    .dsa-logos__cta {
      align-items: center;
    }

    .dsa-logos__grid {
      justify-content: center;
    }

    .dsa-logos__cta__text,
    .dsa-logos__tagline {
      text-align: center;
      margin: auto;
    }
  }
}
