@use "@kickstartds/core/source/core/container";
@include container.wrapper("logos");

.c-logos {
  --c-logos-gap: var(--ks-spacing-stack-m);
  --c-logos-tagline--font: var(--ks-font-display-m);
  --c-logos-tagline--color: var(--ks-color-fg);

  --c-logos-grid--gap-horizontal: var(--ks-spacing-inline-l);
  --c-logos-grid--gap-vertical: var(--ks-spacing-stack-s);

  --c-logos-grid--cols-mobile: 2;
  --c-logos-grid--cols-tablet: 3;
  --c-logos-grid--cols-desktop: 4;
}
