@use "@kickstartds/core/source/core/container";
@include container.wrapper("logos");

.dsa-logos {
  --dsa-logos-gap: var(--ks-spacing-stack-m);
  --dsa-logos-tagline--font: var(--dsa-headline_h3--font);
  --dsa-logos-tagline--font-weight: var(--dsa-headline--font-weight);
  --dsa-logos-tagline--color: var(--dsa-headline--color);

  --dsa-logos__grid--gap-horizontal: var(--ks-spacing-inline-l);
  --dsa-logos__grid--gap-vertical: var(--ks-spacing-stack-s);

  --dsa-logos__grid_mobile--cols: 2;
  --dsa-logos__grid_tablet--cols: 3;
  --dsa-logos__grid_desktop--cols: 4;
}
