@use "@kickstartds/core/source/core/container";
@include container.wrapper("logo-tiles");

.c-logos {
  --c-logo-tiles--cols: 2;
  --c-logo-tiles--gutter: 2em;

  @container logo-tiles (min-width: 420px) {
    --c-logo-tiles--cols: 3;
  }

  @container logo-tiles (min-width: 640px) {
    --c-logo-tiles--cols: 4;
  }
}
