@use "./logos-tokens.scss";

.c-logos {
  display: flex;
  flex-direction: column;
  gap: var(--ks-spacing-stack-m);

  &__tagline {
    font: var(--ks-font-display-m);
    max-width: var(--l-section--content-width-narrow);
    color: var(--ks-color-fg);
    width: 100%;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-m);

    .c-button {
      width: fit-content;
    }

    &__text {
      color: var(--ks-text-color-default);
      max-width: var(--l-section--content-width-narrow);
    }

    &__text,
    &__link {
      font: var(--ks-font-copy-m);
    }
  }

  &__grid {
    gap: calc(var(--c-logo-tiles--gutter) / 2) var(--c-logo-tiles--gutter);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    max-width: calc(100% / var(--c-logo-tiles--cols) - var(--c-logo-tiles--gutter));
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &--align-left {
    .c-logo-tiles {
      justify-content: start;
    }
  }

  &--align-center {
    .c-logos__cta {
      align-items: center;
    }

    .c-logos__grid {
      justify-content: center;
    }

    .c-logos__cta__text,
    .c-logos__tagline {
      text-align: center;
      margin: auto;
    }
  }
}
