.c-feature {
  --c-feature-icon--color: var(--ks-text-color-primary);

  &--small {
    --c-feature-icon--size: calc(var(--ks-line-height-interface-m) * var(--ks-font-size-interface-m));
    --c-feature--stack: var(--ks-spacing-stack-xs);
    --c-feature-icon--gap: var(--ks-spacing-xs);
  }

  &--large {
    --c-feature-icon--size: calc(var(--ks-font-size-copy-m) * 2.5);
    --c-feature--stack: var(--ks-spacing-stack-s);
    --c-feature-icon--gap: var(--ks-spacing-s);
  }

  &--large.c-feature--beside {
    --c-feature--stack: var(--ks-spacing-stack-xs);
  }

  &--stack.c-feature--large {
    --c-feature-icon--gap: var(--ks-spacing-xs);
  }
}

.c-features {
  &--list {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-m);
  }

  &--large-tiles {
    display: grid;
    gap: var(--ks-spacing-stack-l) var(--ks-spacing-inline-m);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .c-feature {
      flex-basis: 300px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  &--small-tiles {
    display: grid;
    gap: var(--ks-spacing-stack-l) var(--ks-spacing-inline-m);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .l-section--align-center & {
      justify-content: center;
    }
  }
}

.c-feature {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--c-feature--stack);

  &--beside {
    padding-left: calc(var(--c-feature-icon--size) + var(--c-feature-icon--gap));

    .c-feature__icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &--stack {
    .c-feature__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--centered {
    .c-feature__header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .c-feature__title,
    .c-feature__text {
      text-align: center;
    }

    .c-feature__cta {
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--c-feature-icon--gap);
  }

  &__title {
    font: var(--ks-font-interface-m);
    color: var(--ks-color-fg);
    font-family: var(--ks-font-family-display);
    font-weight: var(--ks-font-weight-semi-bold);
  }

  &__text {
    color: var(--ks-text-color-default);
    font: var(--ks-font-copy-s);
    margin: 0;
  }

  &__icon {
    color: var(--c-feature-icon--color);
    width: var(--c-feature-icon--size);
    height: var(--c-feature-icon--size);
  }

  &__cta {
    margin-top: auto;
  }

  &__link {
    font: var(--ks-font-copy-s);
    display: flex;
    align-items: center;
    gap: var(--ks-spacing-xxs);
    font-weight: var(--ks-font-weight-semi-bold) !important;

    width: fit-content;
    .icon {
      width: 1.125em;
      height: 1.125em;
    }
  }
  &__button {
    margin-top: calc(var(--c-feature--stack) * 0.5);
  }
}
