@import "./footer-tokens.scss";

.c-footer {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--c-footer--background-color);

  &__content {
    padding: var(--l-section--space-small) var(--l-section--content-padding);
    border-top: var(--c-footer--border-top);
    max-width: var(--c-footer--max-width);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--c-footer--gap-vertical);
  }

  &__logo {
    display: block;

    img {
      height: var(--c-footer-logo--height);
      width: auto;
    }
  }

  &__trademark {
    font: var(--c-footer-trademark--font);
    color: var(--c-footer-trademark--color);
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--c-footer-links--gap);
  }

  &__link {
    font: var(--c-footer-links--font);
    color: var(--c-footer-links--color);
  }
}
