.dsa-footer {
  --dsa-footer--background-color: var(--ks-background-color-default);
  --dsa-footer--border-top: 1px solid var(--ks-border-color-accent);
  --dsa-footer--max-width: var(--l-section--content-width-wide);
  --dsa-footer--gap-vertical: var(--ks-spacing-stack-m);

  --dsa-footer__byline--font: var(--ks-font-copy-xs);
  --dsa-footer__byline--color: var(--ks-text-color-default);

  --dsa-footer__links--gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-m);
  --dsa-footer__links--font: var(--ks-font-interface-s);
  --dsa-footer__links--color: var(--dsa-link--color);

  --dsa-footer__logo--height: 1.5rem;

  @media (min-width: 62em) {
    --dsa-footer__logo--height: 4rem;
  }
}
