@import "./footer-tokens.scss";

.dsa-footer {
  --g-link--text-decoration: none;
  --g-link--text-decoration_hover: none;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--dsa-footer--background-color, var(--ks-background-color-default));

  &__content {
    padding: var(--l-section--space-small) var(--l-section--content-padding);
    border-top: var(--dsa-footer--border-top, 1px solid var(--ks-border-color-accent));
    max-width: var(--dsa-footer--max-width, var(--l-section--content-width-wide));
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--dsa-footer--gap-vertical, var(--ks-spacing-stack-m));
  }

  &__logo {
    --dsa-logo--height: var(--dsa-footer__logo--height) !important;
  }

  &__byline {
    font: var(--dsa-footer__byline--font, var(--ks-font-copy-xs));
    color: var(--dsa-footer__byline--color, var(--ks-text-color-default));
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--dsa-footer__links--gap, var(--ks-spacing-stack-s) var(--ks-spacing-inline-m));
  }

  &__link {
    font: var(--dsa-footer__links--font, var(--ks-font-interface-s));
    color: var(--dsa-footer__links--color, var(--dsa-link--color));
  }
}
