@use "@kickstartds/core/source/core/container";
@include container.wrapper("testimonials");

.c-testimonials {
  --c-testimonials--gap: var(--ks-spacing-stack-m);
  --c-testimonials--color: var(--dsa-rich-text--color);
  --c-testimonials--font: var(--dsa-rich-text--font);
  --c-testimonials-image--gap-horizontal: var(--ks-spacing-inline-m);
  --c-testimonials-image--gap-vertical: var(--ks-spacing-stack-s);
}
