@use "@kickstartds/core/source/core/container";
@use "testimonials-tokens.scss";
@include container.wrapper("testimonials");

.dsa-testimonials {
  display: flex;
  flex-direction: column;
  gap: var(--dsa-testimonials--gap, var(--ks-spacing-stack-m));

  .c-rich-text {
    font: var(--dsa-testimonials__copy--font, var(--dsa-rich-text--font), var(--ks-font-copy-m));
    color: var(--dsa-testimonials__copy--color, var(--dsa-rich-text--color), var(--ks-text-color-default));
  }

  .text-media--intext .text-media__gallery {
    padding-bottom: var(--dsa-testimonials__image--gap-vertical, var(--ks-spacing-inline-m));
    padding-right: var(--dsa-testimonials__image--gap-horizontal, var(--ks-spacing-stack-s));
  }
}
