@import "../src/token/tokens.css";

.sidebar-item svg {
  color: inherit;
}

#storybook-preview-iframe {
  background: transparent;
}

.sbdocs {
  background-color: var(--ks-background-color-default) !important;
}
