.sbdocs.sbdocs-content {
  background-color: var(--ks-background-color-default) !important;
  max-width: 1200px;
}

.docs-story {
  background-color: var(--ks-background-color-default) !important;
}

.sbdocs-paddingbottom .docs-story .innerZoomElementWrapper > div,
.sbdocs-paddingtop .docs-story .innerZoomElementWrapper > div,
.sbdocs-nopadding .docs-story .innerZoomElementWrapper > div {
  border: 0 !important;
}

.sbdocs-paddingbottom .docs-story > *:first-child,
.sbdocs-nopadding .docs-story > *:first-child {
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sbdocs-paddingtop .docs-story .innerZoomElementWrapper > div {
  border-top: 2rem solid var(--ks-background-color-default) !important;
}

.sbdocs-paddingbottom .docs-story .innerZoomElementWrapper > div {
  border-bottom: 2rem solid var(--ks-background-color-default) !important;
}

.docblock-argstable-body tr > td {
  color: var(--ks-text-color-interface);
}

.sb-show-main.sb-main-padded {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
