:root {
  .c-quote {
    --c-quote_text--font: var(--ks-font-copy-l);

    --c-quote_source--color: var(--ks-color-fg);
    --c-quote_source--font: var(--ks-font-copy-s);

    --c-quote_icon--font-family: var(--ks-font-family-copy);
    --c-quote_icon--font-size: 3em;
    --c-quote_icon--color: var(--ks-text-color-primary);

    --c-quote_byline--font: var(--ks-font-copy-s);
    --c-quote_byline--font-weight: var(--ks-font-weight-regular);
    --c-quote_byline--color: var(--ks-text-color-default);

    --c-quote_content--padding-left: var(--ks-spacing-xl);

    @container quote (min-width: 640px) {
      --c-quote_image--max-width: 40%;
    }

    @container quote (min-width: 960px) {
      --c-quote_content--padding-left: var(--ks-spacing-l);
    }
  }
}
