@use "headline-tokens.scss";

.dsa-headline {
  max-width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--dsa-headline--gap, 0.25em);

  &--h1 {
    .dsa-headline__headline {
      --dsa-headline--font: var(--dsa-headline__h1--font, var(--ks-font-display-xxl));
    }

    .dsa-headline__subheadline {
      --dsa-subheadline--font: var(--dsa-headline__h1__subheadline--font, var(--ks-font-copy-xl));
    }
  }

  &--h2 {
    .dsa-headline__headline {
      --dsa-headline--font: var(--dsa-headline__h2--font, var(--ks-font-display-xl));
    }

    .dsa-headline__subheadline {
      --dsa-subheadline--font: var(--dsa-headline__h2__subheadline--font, var(--ks-font-copy-l));
    }
  }

  &--h3 {
    .dsa-headline__headline {
      --dsa-headline--font: var(--dsa-headline__h3--font, var(--ks-font-display-l));
    }

    .dsa-headline__subheadline {
      --dsa-subheadline--font: var(--dsa-headline__h3__subheadline--font, var(--ks-font-copy-l));
    }
  }

  &--h4 {
    .dsa-headline__headline {
      --dsa-headline--font: var(--dsa-headline__h4--font, var(--ks-font-display-m));
    }

    .dsa-headline__subheadline {
      --dsa-subheadline--font: var(--dsa-headline__h4__subheadline--font, var(--ks-font-copy-m));
    }
  }

  &--p {
    .dsa-headline__headline {
      --dsa-headline--font: var(--dsa-headline__p--font, var(--ks-font-copy-m));
    }

    .dsa-headline__subheadline {
      --dsa-subheadline--font: var(--dsa-headline__p__subheadline--font, var(--ks-font-copy-s));
    }
  }

  .dsa-headline__headline {
    font: var(--dsa-headline--font);
    color: var(--dsa-headline--color, var(--ks-text-color-primary));
    font-weight: var(--dsa-headline--font-weight);
    margin: 0;
  }

  .dsa-headline__subheadline {
    font: var(--dsa-subheadline--font);
    margin: 0;
    max-width: var(--l-section--content-width-default);
    color: var(--dsa-headline__subheadline--color, var(--ks-text-color-primary));
    font-weight: var(--dsa-headline__subheadline--font-weight, var(--ks-font-weight-semi-bold));
  }

  &--space-after-minimum {
    margin-bottom: var(--ks-spacing-stack-s);
  }

  &--space-after-small {
    margin-bottom: var(--ks-spacing-stack-m);
  }

  &--space-after-large {
    margin-bottom: var(--ks-spacing-stack-l);
  }

  &--align-center {
    .dsa-headline__headline {
      text-align: center;
    }

    .dsa-headline__subheadline {
      text-align: center;
      margin: auto;
    }
  }
  &--align-right {
    .dsa-headline__headline {
      text-align: right;
    }

    .dsa-headline__subheadline {
      text-align: right;
      margin-left: auto;
    }
  }
}

.dsa-headline,
h1,
h2,
h3,
h4,
h5 {
  strong {
    font-weight: inherit;
    background: var(--dsa-headline--higlight-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
