@use "headline-tokens.scss";

.dsa-headline {
  max-width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--dsa-headline--gap, 0.25em);

  &__inner {
    position: relative;
  }

  &__anchor {
    --g-link--text-decoration: none;

    visibility: hidden;
    position: absolute;
    margin: 0 var(--ks-spacing-inline-s);
  }

  &:hover {
    .dsa-headline__anchor {
      visibility: visible;
    }
  }

  .dsa-headline__headline {
    font: var(--headline--font);
    text-transform: var(--dsa-headline--text-transform);
  }

  &--h1 {
    --headline--font: var(--dsa-headline_h1--font, var(--ks-font-display-xxl));
    --subheadline--font: var(--dsa-headline_h1__subheadline--font, var(--ks-font-copy-xl));
    --headline--space-after_minimum: var(--dsa-headline_h1--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h1--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h1--space-after_large);
  }

  &--h2 {
    --headline--font: var(--dsa-headline_h2--font, var(--ks-font-display-xl));
    --subheadline--font: var(--dsa-headline_h2__subheadline--font, var(--ks-font-copy-l));
    --headline--space-after_minimum: var(--dsa-headline_h2--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h2--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h2--space-after_large);
  }

  &--h3 {
    --headline--font: var(--dsa-headline_h3--font, var(--ks-font-display-l));
    --subheadline--font: var(--dsa-headline_h3__subheadline--font, var(--ks-font-copy-l));
    --headline--space-after_minimum: var(--dsa-headline_h3--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h3--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h3--space-after_large);
  }

  &--h4 {
    --headline--font: var(--dsa-headline_h4--font, var(--ks-font-display-m));
    --subheadline--font: var(--dsa-headline_h4__subheadline--font, var(--ks-font-copy-m));
    --headline--space-after_minimum: var(--dsa-headline_h4--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h4--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h4--space-after_large);
  }

  &--p {
    --headline--font: var(--dsa-headline_p--font, var(--ks-font-copy-m));
    --subheadline--font: var(--dsa-headline_p__subheadline--font, var(--ks-font-copy-s));
    --headline--space-after_minimum: var(--dsa-headline_p--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_p--space-after_small);
    --headline--space-after_large: var(--dsa-headline_p--space-after_large);
  }

  .dsa-headline__headline {
    font: var(--headline--font);
    color: var(--dsa-headline--color, var(--ks-text-color-display));
    font-weight: var(--dsa-headline--font-weight);
    margin: 0;
  }

  .dsa-headline__subheadline {
    font: var(--subheadline--font);
    margin: 0;
    max-width: var(--l-section--content-width-default);
    color: var(--dsa-headline__subheadline--color, var(--ks-text-color-primary));
    font-weight: var(--dsa-headline__subheadline--font-weight, var(--ks-font-weight-semi-bold));
  }

  &--space-after-minimum {
    margin-bottom: var(--headline--space-after_minimum);
  }

  &--space-after-small {
    margin-bottom: var(--headline--space-after_small);
  }

  &--space-after-large {
    margin-bottom: var(--headline--space-after_large);
  }

  &--align-center {
    .dsa-headline__headline {
      text-align: center;
    }

    .dsa-headline__subheadline {
      text-align: center;
      margin: auto;
    }
  }
  &--align-right {
    .dsa-headline__headline {
      text-align: right;
    }

    .dsa-headline__subheadline {
      text-align: right;
      margin-left: auto;
    }

    .dsa-headline__anchor {
      top: 0;
      right: 100%;
    }
  }
}

.dsa-headline,
h1,
h2,
h3,
h4,
h5 {
  strong {
    font-weight: inherit;
    background: var(--dsa-headline--higlight-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
