@import "../../selectors";

:root,
[ks-theme],
[ks-inverted="false"] {
  --g-filter-drop-shadow--higlight: drop-shadow(0px 2px 30px var(--ks-color-primary-alpha-7))
    drop-shadow(0px 1px 4px var(--ks-color-fg-alpha-2));
}

[ks-inverted="true"] {
  --g-filter-drop-shadow--higlight: drop-shadow(0px 2px 25px var(--ks-color-primary-inverted-alpha-9))
    drop-shadow(0px 1px 4px var(--ks-color-primary-inverted-alpha-4));
}

#{$selectors} {
  --g-headline--color: var(--ks-color-fg);
  --g-headline--font-weight: var(--ks-font-weight-medium);

  .c-headline {
    --c-headline--color: var(--g-headline--color);
    --c-headline--font-weight: var(--g-headline--font-weight);
  }

  .c-headline__subheadline {
    --c-headline_subheadline--font: var(--ks-font-display-s);
    --c-headline_subheadline--color: var(--ks-text-color-primary);
    --c-headline_subheadline--font-weight: var(--ks-font-weight-medium);
    --c-headline_subheadline--margin: 0.25em 0 0;
  }
}

.c-headline,
h1,
h2,
h3,
h4,
h5 {
  strong {
    font-weight: inherit;
    background: linear-gradient(135deg, var(--ks-color-primary-base) 0%, var(--ks-color-secondary-base) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: var(--g-filter-drop-shadow--higlight);
  }
}
