@use "sass:math";
@use "bourbon/core/bourbon";
// @use '../var';

html.overlay-open {
  overflow: hidden;
}

button.nav-toggle {
  $ease: ease;
  $duration: 300ms;

  display: block;
  position: relative;
  right: 0;
  box-sizing: content-box;
  transition: top 0.15s;
  // height: fit-content;
  z-index: 1;
  padding: 0 var(--g-header-spacing-h);
  transform: translateX(var(--g-header-spacing-h));

  @media (min-width: 60rem) {
    display: none;
  }

  .nav-toggle__label {
    @include bourbon.hide-visually;
  }

  .nav-toggle__icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 31px;
    width: 31px;
    transform: scale(0.7) translate(7.5%, 7.5%);
    transition: inherit;
    color: var(--ks-text-color-primary);

    @media (min-width: 40rem) {
      transform: scale(0.9) translate(2.5%, 2.5%);
    }

    .overlay-open &,
    .overlay-open .header-is-scrolling & {
      color: var(--ks-text-color-primary);
    }

    .header-is-scrolling-up & {
      color: var(--ks-text-color-primary);
    }

    &::before,
    &::after {
      content: "";
    }

    .nav-toggle__icon__middle,
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: currentColor;
    }

    .nav-toggle__icon__middle {
      top: 50%;
      margin-top: -1.5px;
    }

    &::before {
      top: 2px;
      transition: top math.div($duration, 2) $ease math.div($duration, 2),
        transform $ease math.div($duration, 2);
    }

    &::after {
      bottom: 2px;
      transition: bottom math.div($duration, 2) $ease math.div($duration, 2),
        transform $ease math.div($duration, 2);
    }
  }

  &[aria-expanded="true"] {
    .nav-toggle__icon {
      &__middle {
        display: none;
      }

      &::before {
        top: 14px;
        transition: top $ease math.div($duration, 2),
          transform math.div($duration, 2) $ease math.div($duration, 2);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 14px;
        transition: bottom $ease math.div($duration, 2),
          transform math.div($duration, 2) $ease math.div($duration, 2);
        transform: rotate(45deg);
      }
    }
  }
}
