@use "sass:meta";
@use "bourbon/core/bourbon";
@use "./nav-main-tokens";

.dsa-nav-main {
  --g-link--text-decoration: none;
  --g-link--text-decoration_hover: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--active {
    .dsa-nav-main__item {
      .dsa-nav-main__link {
        color: var(--dsa-nav-main__link--color);
      }

      &--active {
        .dsa-nav-main__link {
          color: var(--dsa-nav-main__link--color_active);
          font-weight: var(--dsa-nav-main__link--font-weight_active);
        }
      }
    }
  }

  ul {
    /* critical:start */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin: 0;
    }
    /* critical:end */
  }

  &__item {
    position: relative;
  }

  &__list {
    &:hover {
      .dsa-nav-main__link {
        opacity: var(--dsa-nav-main__link--opacity_hover);
      }
    }
  }
  .dsa-nav-main__item {
    a.dsa-nav-main__link {
      /* critical:start */
      font: var(--dsa-nav-main__link--font);
      font-weight: var(--dsa-nav-main__link--font-weight);
      color: var(--dsa-nav-main__link--color);
      position: relative;
      display: block;
      padding: var(--dsa-nav-main__link--padding);

      &:hover {
        opacity: 1;
        color: var(--dsa-nav-main__link--color_active);
      }

      &:active {
        color: var(--dsa-nav-main__link--color_active);
      }
      /* critical:end */
    }
  }
  &__logo {
    padding: var(--dsa-header--spacing-v) 0;
  }

  &__wrap {
    flex-grow: 0;
    flex-shrink: 1;
  }

  // Mobile Nav
  &.dsa-nav-main--flyout {
    display: none;
    @media (max-width: "62em") {
      display: block;
      /* critical:start */
      left: -100%;
      /* critical:end */
      height: 100vh;
      overflow: hidden;

      position: fixed;
      width: 77vw;
      max-width: 23rem;
      transition: all var(--ks-duration-slow);
      padding: 0 var(--l-section--content-padding);

      right: 0;
      bottom: 0;
      top: 0;
      overflow-y: auto;
      background: var(--dsa-nav-main--background);
      backface-visibility: hidden;
      -webkit-overflow-scrolling: touch;
      box-shadow: 20px 0px 30px #00000000;

      &__item {
        &--icon {
          @include bourbon.hide-visually;
        }
      }

      .overlay-open & {
        left: 0;
        box-shadow: var(--dsa-nav-main--shadow);
      }

      > .dsa-nav-main__logo {
        margin-top: var(--dsa-header--spacing-vertical);
        margin-bottom: var(--dsa-header--spacing-vertical);
      }

      ul.dsa-nav-main__list {
        padding-top: calc(var(--dsa-header--spacing-vertical) - var(--ks-spacing-s));

        .dsa-nav-main--button {
          margin-left: var(--dsa-header--spacing-horizontal);
          margin-top: var(--dsa-header--spacing-vertical);

          .button {
            --button--font: var(--ks-font-interface-s);
            .button__content {
              --button--padding: 0.4rem 1rem;
            }
          }
        }
      }
    }
  }

  // Desktop Nav
  &.dsa-nav-main--topbar {
    display: none;
    @media (min-width: "62em") {
      display: block;
      /* critical:start */
      > .dsa-nav-main__logo {
        display: none;
      }
      /* critical:end */

      .button--wrapper {
        margin-left: var(--ks-spacing-inline-xs);
      }

      .dsa-nav-main__wrap {
        display: flex;
        align-items: center;
      }

      .dsa-nav-main__list {
        /* critical:start */
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .dsa-nav-main--button {
          .button {
            --button--font: var(--ks-font-interface-s);
            span {
              font-size: 98%;
            }
          }
        }
        /* critical:end */
        &:hover {
          .dsa-nav-main__link {
            .dsa-header--floating & {
              opacity: var(--dsa-nav-main_floating__link--opacity_hover);
            }

            &:hover {
              .dsa-header--floating & {
                opacity: 1;
              }
            }
          }
        }
      }

      &.dsa-nav-main__item {
        /* critical:start */
        flex-shrink: 0;
        /* critical:end */
        outline: 0;
      }

      .dsa-nav-main__link {
        .dsa-header--floating & {
          color: var(--dsa-nav-main_floating__link--color);
        }
      }

      &.dsa-nav-main--active {
        .dsa-nav-main__link {
          .dsa-header--floating & {
            color: var(--dsa-nav-main_floating__link--color_active);
          }
        }
      }
    }
  }
}

.dsa-nav-main-toggle {
  &[aria-expanded="true"] + .dsa-nav-main {
    display: block;
  }
}
