@use "sass:math";
@use "bourbon/core/bourbon";
@import "./nav-toggle-tokens.scss";

html.overlay-open {
  overflow: hidden;
}

button.dsa-nav-toggle {
  $ease: ease;
  $duration: 300ms;

  display: block;
  position: relative;
  right: 0;
  box-sizing: content-box;
  transition: top 0.15s;
  z-index: 1;
  padding: 0 var(--dsa-header--spacing-horizontal);
  transform: translateX(var(--dsa-header--spacing-horizontal));

  --toggle__icon-bar--offset: 45%;

  .dsa-nav-toggle__label {
    @include bourbon.hide-visually;
  }

  .dsa-nav-toggle__icon {
    position: relative;
    display: block;
    cursor: pointer;
    height: var(--dsa-nav-toggle--size);
    width: var(--dsa-nav-toggle--size);
    transform: scale(0.7) translate(7.5%, 7.5%);
    transition: inherit;
    color: var(--dsa-nav-toggle--color);
    filter: drop-shadow(var(--dsa-nav-toggle--shadow));

    .dsa-header--floating & {
      color: var(--dsa-nav-toggle_floating--color);
      filter: drop-shadow(var(--dsa-nav-toggle_floating--shadow));
    }

    @media (min-width: 40em) {
      transform: scale(0.8) translate(2.5%, 2.5%);
    }

    .overlay-open & {
      color: var(--dsa-nav-toggle--color_open);
    }

    &::before,
    &::after {
      content: "";
    }

    .dsa-nav-toggle__icon__middle,
    &::before,
    &::after {
      box-shadow: var(--dsa-nav-toggle--shadow);
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: currentColor;
    }

    .dsa-nav-toggle__icon__middle {
      top: 50%;
      margin-top: -1.5px;
    }

    &::before {
      top: 2px;
      transition:
        top math.div($duration, 2) $ease math.div($duration, 2),
        transform $ease math.div($duration, 2);
    }

    &::after {
      bottom: 2px;
      transition:
        bottom math.div($duration, 2) $ease math.div($duration, 2),
        transform $ease math.div($duration, 2);
    }
  }

  &[aria-expanded="true"] {
    .dsa-nav-toggle__icon {
      &__middle {
        display: none;
      }

      &::before {
        top: var(--toggle__icon-bar--offset);
        transition:
          top $ease math.div($duration, 2),
          transform math.div($duration, 2) $ease math.div($duration, 2);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: var(--toggle__icon-bar--offset);
        transition:
          bottom $ease math.div($duration, 2),
          transform math.div($duration, 2) $ease math.div($duration, 2);
        transform: rotate(45deg);
      }
    }
  }
}
