@use "nav-main-tokens.scss";

.nav-main {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  gap: var(--ks-spacing-inline-m);
  display: none;

  @media (min-width: "640px") {
    display: flex;
  }

  .nav-main__item {
    display: flex;
    align-items: center;

    .nav-main__link {
      color: var(--dsa-nav-main--color);
      font: var(--dsa-nav-main--font);
      font-weight: var(--ks-font-weight-semi-bold);

      &:hover {
        color: var(--dsa-nav-main--color_hover);
      }
    }
  }
}
