.nav-main {
  --dsa-nav-main--background: linear-gradient(
    125deg,
    var(--ks-background-color-default),
    var(--ks-color-primary-to-bg-6)
  );

  --dsa-nav-main--color: var(--ks-color-fg); //TBD: semantic fg text color
  --dsa-nav-main--color_passive: var(--ks-text-color-default);
  --dsa-nav-main--color_hover: var(--ks-text-color-default);
  --dsa-nav-main--color_active: var(--ks-color-fg); //TBD: semantic fg text color

  --dsa-nav-main--font: var(--ks-font-interface-l);

  --dsa-nav-main--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-nav-main--font-weight_active: var(--ks-font-weight-semi-bold);

  --dsa-nav-main--padding: 0.5rem 0;
  --dsa-nav-main-link--padding: 0.35em 0;

  --dsa-nav-main--shadow: 50px 0px 50px 50px rgba(0, 0, 0, 0.539);

  @media (min-width: "62rem") {
    --dsa-nav-main-link--padding: 0 0.75em;
    --dsa-nav-main--font: var(--ks-font-interface-m);
    --dsa-nav-main--padding: 1px;
  }
}
