@import "stats-tokens.scss";

.c-stats {
  display: flex;
  justify-content: center;
  gap: var(--c-stats--gap-vertical) var(--c-stats--gap-horizontal);
  flex-wrap: wrap;
  align-items: center;

  &__item {
    flex: 1 1;
    flex-basis: var(--c-stats-item--min-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--c-stats-item--gap);
    max-width: var(--c-stats-item--max-width);
  }

  &__value {
    background: var(--c-stats-value--gradient);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: var(--c-stats-value--shadow);
    font: var(--c-stats-value--font);
    font-weight: var(--c-stats-value--font-weight);
  }

  &__label {
    color: var(--c-stats-label--color);
    font: var(--c-stats-label--font);
    text-align: center;
  }

  &__description {
    color: var(--c-stats-description--color);
    font: var(--c-stats-description--font);
    text-align: center;
  }
}
