@font-face {
  font-family: "TeleNeo";
  src: url("../static/fonts/telekom/teleneo-thin-woff-data.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeleNeo";
  src: url("../static/fonts/telekom/teleneo-medium-woff-data.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeleNeo";
  src: url("../static/fonts/telekom/teleneo-bold-woff-data.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TeleNeo";
  src: url("../static/fonts/telekom/teleneo-extrabold-woff-data.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
