@font-face {
  font-family: "Google Sans 18pt";
  font-style: normal;
  font-weight: normal;
  src: url("../static/fonts/google/download/google-sans-18pt.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans Display";
  font-style: normal;
  font-weight: normal;
  src: url("../static/fonts/google/download/google-sans-display.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans Text";
  font-style: normal;
  font-weight: normal;
  src: url("../static/fonts/google/download/google-sans-text.woff2") format("woff2");
}
