@font-face {
  font-family: "NovelPro";
  src: url("../static/fonts/business/novelpro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NovelSansPro";
  src: url("../static/fonts/business/novelsanspro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NovelSansPro";
  src: url("../static/fonts/business/novelsanspro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
