@font-face {
  font-family: "Fredoka";
  src:
    url("../static/fonts/dsa/Fredoka-Regular.woff") format("woff2"),
    url("../static/fonts/dsa/Fredoka-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka";
  src:
    url("../static/fonts/dsa/Fredoka-SemiBold.woff2") format("woff2"),
    url("../static/fonts/dsa/Fredoka-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka";
  src:
    url("../static/fonts/dsa/Fredoka-Medium.woff2") format("woff2"),
    url("../static/fonts/dsa/Fredoka-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka";
  src:
    url("../static/fonts/dsa/Fredoka-Light.woff2") format("woff2"),
    url("../static/fonts/dsa/Fredoka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka";
  src:
    url("../static/fonts/dsa/Fredoka-Bold.woff2") format("woff2"),
    url("../static/fonts/dsa/Fredoka-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../static/fonts/dsa/Mulish-Regular.woff2") format("woff2"),
    url("../static/fonts/dsa/Mulish-Regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    /* IE6-IE8 */
    url("../static/fonts/dsa/Mulish-600.woff2") format("woff2"),
    url("../static/fonts/dsa/Mulish-600.woff") format("woff"); /* Legacy iOS */
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    /* IE6-IE8 */
    url("../static/fonts/dsa/Mulish-800.woff2") format("woff2"),
    url("../static/fonts/dsa/Mulish-800.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    /* IE6-IE8 */
    url("../static/fonts/dsa/Mulish-300.woff2") format("woff2"),
    url("../static/fonts/dsa/Mulish-300.woff") format("woff");
}
