@use "@kickstartds/base/lib/global/base.css";
@use "./components/rich-text/rich-text";
@use "./token/tokens.css";
@use "./fonts";
@use "./selectors" as *;

#{$selectors} {
  --g-topic--font-weight: var(--ks-font-weight-medium);
  --g-link--font-weight: var(--ks-font-weight-semi-bold);
  --g-topic--color: var(--ks-color-fg);
  --l-section--content-padding: var(--ks-spacing-inset-l) !important;

  @media (min-width: 42rem) {
    --l-section--content-padding: var(--ks-spacing-inset-xl) !important;
  }

  --l-section--content-width-full: 100vw !important;
  --l-section--content-width-wide: 1440px !important;
  --g-header-height: calc(var(--g-logo--height) + var(--ks-spacing-stack-m) + var(--ks-spacing-stack-m));

  .c-divider {
    --c-divider--background: var(--ks-border-color-accent);
  }

  .c-post-head {
    --c-post-head_date--font-weight: var(--ks-font-weight-medium);
  }
  .c-post-aside {
    --c-post-aside--gap: var(--ks-spacing-stack-s);
  }
  .c-post-meta {
    --c-post-meta--gap: var(--ks-spacing-stack-xs);
  }
}
