@use "@kickstartds/base/lib/global/base.css";
@use "./components/blog-teaser/blog-teaser";
@use "./components/rich-text/rich-text";
@use "./components/form/form";
@use "./fonts-dsa";
@use "./fonts-business";
@use "./fonts-telekom";
@use "./fonts-google";
@use "./selectors" as *;

body.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

.preview {
  &--wrapper {
    background-color: #1f213d;
    padding: 2rem;
  }

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  padding: 42px 29px;
  background-color: var(--ks-background-color-default);
  border-radius: var(--ks-border-radius-card);
}

body {
  background: var(--ks-background-color-default);
}

#{$selectors} {
  //TBD: Globale Token: where should they be defined
  --g-rich-text--color: var(--ks-text-color-default);
  --g-rich-text--font: var(--ks-font-copy-m);

  --g-headline--color: var(--ks-color-fg);
  --g-subheadline--color: var(--ks-text-color-primary);
  --g-headline--font-weight: var(--ks-font-weight-medium);
  --g-headline--higlight-gradient: var(--g-gradient--higlight);

  --g-topic--font-weight: var(--ks-font-weight-medium);
  --g-topic--color: var(--ks-color-fg);

  --g-link--font-weight: var(--ks-font-weight-medium);
  --g-link--color-hover: var(--ks-color-fg);
  --g-link--text-decoration: none;

  //TBD: why is the Original --g-header-height token in the repo?
  --g-header--height: calc(var(--g-logo--height) + var(--ks-spacing-stack-m) + var(--ks-spacing-stack-m));

  --g-gradient--higlight: linear-gradient(135deg, var(--ks-color-primary) 0%, var(--ks-color-secondary) 100%);

  --l-section--content-padding: var(--ks-spacing-inset-l) !important;

  @media (min-width: 42rem) {
    --l-section--content-padding: var(--ks-spacing-inset-xl) !important;
  }

  --l-section--content-width-wide: 1440px !important;

  --g-logo--height: 2rem;

  @media (min-width: 42rem) {
    --g-logo--height: 2.5rem;
  }

  @media (min-width: 62em) {
    --g-logo--height: 3rem;
  }

  &[ks-inverted="true"] {
    --dsa-interface--background: var(--ks-color-bg-alpha-3);
    --dsa-interface--shadow: 0 0 0 2px var(--ks-color-fg-alpha-9), 0 0px 8px var(--ks-color-fg-alpha-7);
  }

  .c-divider {
    --c-divider--background: var(--ks-border-color-accent);
  }
}
