:root {
  .c-visual.c-video-curtain {
    --c-visual_overlay--background: radial-gradient(
      50% 126.2% at 100% 0%,
      var(--ks-color-primary-alpha-5) 0%,
      var(--ks-color-bg-alpha-5) 100%
    );

    &--highlight-text {
      .c-visual__box {
        --c-visual_text--font: var(--ks-font-copy-l);
      }
    }

    --c-visual_overlay--background-size: 100%;

    .c-visual__box {
      --c-visual_box--background: var(--ks-background-color-default);
      --c-visual_box--color: var(--ks-color-fg);
      --c-visual_subheadline--color: var(--ks-text-color-primary);
      --c-visual_headline--color: var(--ks-color-fg);
    }

    @container visual (min-width: 640px) {
      .c-visual__box {
        --c-visual_box--max-width: 50rem;
      }
    }
  }
}
