@import "./image-tokens.scss";

.c-image {
  object-fit: cover;

  &--square {
    aspect-ratio: var(--c-image--ratio-square);
  }

  &--wide {
    aspect-ratio: var(--c-image--ratio-wide);
  }

  &--landscape {
    aspect-ratio: var(--c-image--ratio-landscape);
  }
}
