.c-slider {
  --c-slider_bullet--outline-color: var(--ks-border-color-interface-interactive);
  --c-slider_bullet--outline-color-hover: var(--ks-border-color-interface-interactive-hover);
  --c-slider_bullet--outline-color-active: var(--ks-border-color-interface-interactive-active);

  --c-slider_bullet--background-color-hover: transparent;
  --c-slider_bullet--background-color-active: transparent;

  --c-slider_arrow--color: var(--ks-text-color-interface-interactive);
}
