.c-cta-text {
  display: flex;
  flex-direction: column;
  gap: var(--ks-spacing-stack-m);
  max-width: var(--l-section--content-width-default);

  &--align-center {
    .c-cta-text__links {
      justify-content: center;
    }
  }

  .c-headline {
    max-width: 100%;
  }

  &__links {
    display: flex;
    gap: var(--ks-spacing-stack-m) var(--ks-spacing-inline-s);
    flex-wrap: wrap;
  }

  .c-button {
    width: fit-content;
  }
}
